[2017-02-23 16:20] webwurst opened #2 "Provide systemd service example to run coredns locally"
Thx!

[2017-03-01 20:10] miekg commented on #2
See the README in the coredns repo.

[2017-04-23 20:12] huang195 opened #3 "server does not allow access to the requested resources"
After installing k8s 1.6 via kubeadm, I tried to install `coredns` to replace `kube-dns`, and the `coredns` pod/svc does get successfully deployed. However, inspecting the log of `coredns` shows the following errors that repeats every few seconds:
[code]
I do have a default service account in the namespace `kube-system`:
[code]
AFAIK, this service account is what `coredns` uses:
[code]
Any thought

[2017-04-24 03:09] johnbelamaric commented on #3
@chrisohaver had this issue and has a solution. It's the RBAC in 1.6, it needs more permissions to access other namespaces. @chrisohaver?

[2017-04-24 13:18] chrisohaver commented on #3
RBAC is used by default in k8s 1.6.  The kube-system default account no longer has access by default to the API. Also, coredns requires access to a couple more API objects than kube-dns does. There are a few ways to grant access.  I think the cleanest solution is to create a new ServiceAccount, ClusterRole, and ClusterRoleBinding for coredns, and then configure the pods to use the new service acco

[2017-04-24 13:23] huang195 commented on #3
@johnbelamaric @chrisohaver thanks for pointing me to a solution. This doesn't look like a problem with coredns deployment but rather an issue in k8s. I wished I saw the solution earlier as the solution I hacked up was not as clean. I ended up reusing the `kube-dns` service account by adding `namespaces` into its access list and using that instead of the `default` service account in the `kube-syst

[2017-04-24 13:23] #3 closed

[2017-04-24 13:55] johnbelamaric commented on #3
@chrisohaver can you add those templates here? Or, better make a 1.6 and later version of the deployment manifest that includes these?

[2017-04-24 15:06] johnbelamaric commented on #2
#6

[2017-05-01 20:14] ae6rt opened #7 "Fix minor typos in the kubernetes deploy script"
The README for the deploy.sh script for Kubernetes has a couple minor typos in it.

[2017-05-01 20:23] #2 closed

[2017-05-01 21:09] johnbelamaric commented on #7
#8 thanks Mark.

[2017-05-01 21:09] #7 closed

[2017-09-20 14:29] johnbelamaric opened #11 "kubernetes: update for changes for v011"
For example, `cidrs` is still in here: https://github.com/coredns/deployment/blob/master/kubernetes/coredns-1.6.yaml.sed#L54

[2017-09-20 14:38] miekg commented on #11
ah, missed that in https://github.com/coredns/deployment/pull/10/

[2017-10-17 06:17] miekg opened #12 "deb package"
Inspired by a tweet. Adding ~~rpm~~ deb would help people deploy and test coredns - would even be helpful in my usecase (amd64 and arm).

[2017-10-27 16:25] Quentin-M opened #13 "Kubernetes manifest need rework"
Hi,

I was evaluating using CoreDNS rather than the deprecated kube-dns addon, as now suggested by Kubernetes. However, I found a few issues in the provided manifests:

- It is not clear at first glance which manifest should be used: `coredns.yaml.sed`, `coredns-1.6.yaml.sed`? We are now on Kubernetes 1.8 and soon 1.9. In my understanding, `coredns.yaml.sed` should be renamed `coredns-1.5.yaml.sed

[2017-10-27 17:53] johnbelamaric commented on #13
Thanks for your thorough review. You are right this is not really up-to-date, and we will get on that ASAP (PRs are welcome too!).

You may also be interested in https://github.com/kubernetes/kubernetes/pull/52501 and https://github.com/kubernetes/minikube/pull/1995.

@rajansandeep PTAL

[2017-10-27 18:40] #11 closed

[2017-11-01 13:08] johnbelamaric opened #17 "Error from brew forumula"
@Lugoues - this installs and works well - but the example Corefile didn't install:

[code]

Thanks.

[2017-11-01 21:37] #17 closed

[2017-11-02 13:42] chrisohaver commented on #13
Thanks again for the review. Summarizing what we have fixed  so far...

- Removed the pre 1.6 version, leaving only one manifest.
- Corrected the deprecated "cidrs" in the ConfigMap.
- Moved tolerations to spec element
- Added master NoSchedule taint toleration
- Use current release, not "latest".
- main repo README updated

not addressed yet:
- **CoreDNS master affinity** - kube-dns does not have

[2017-11-02 13:53] ae6rt commented on #13
Nice work.

I'd be somewhat sorry to see the non-RBAC manifests removed.  Not every cluster uses RBAC yet, and if not, experimenting with CoreDNS with the RBAC manifest would be challenging.

[2017-11-08 13:13] johnbelamaric commented on #13
@chrisohaver yes on the RollingUpdate strategy. Also update to 0.9.10 and get rid of the "CIDR needs to be on a /8 boundary" comment. What about `kubernetes.io/cluster-service`? Should we remove it here?

[2017-11-11 14:34] miekg opened #21 "rpm package"
Split off from #12. Maybe someone can add a rpm spec file.
(Don't use any rpm distro myself)

[2017-11-11 14:57] #12 closed

[2017-11-29 07:29] gogeof opened #29 "how to save coredns data in etcd"
## ask for help
- I'm trying to save coredns data in etcd, but failed(after deploy, I can't find any data in etcd), here is config file:
[code]

- can't find any data in etcd:
[code]

**any help is appreciate!!**

[2017-11-29 11:40] miekg commented on #29
What are you trying to do. Is DNS working. What are you expecting with the above config?

[2017-11-30 03:29] gogeof commented on #29
@miekg thanks you for response. What I really tring to do is that modify dns data in coredns by edit etcd data. And I am trying to write a tool to edit coredns data for my job.

[2017-11-30 08:06] miekg commented on #29
Well, can't help you with much then. Unless there are specific questions concering bugs or issues in CoreDNS.

[2017-11-30 09:11] gogeof commented on #29
@miekg ok, I got it. Thanks as well.

[2017-11-30 09:11] #29 closed

[2017-11-30 15:31] chrisohaver commented on #29
Do you see any warnings in the coredns log?  e.g. Is coredns able to see the Hosts file?

[2017-12-11 07:30] JinsYin opened #32 "The coredns.yaml here does not match the content of the coredns.yaml file in kubenetes"
The content of the two files is inconsistent:
https://github.com/coredns/deployment/blob/master/kubernetes/coredns.yaml.sed#L53
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/coredns.yaml.sed#L62

[2017-12-11 13:32] fturib commented on #32
@rajansandeep : can you have a look here on this diff and the reason ?

[2017-12-11 14:50] chrisohaver commented on #32
Regarding the lines highlighted - The difference is the presence of the pod CIDR range in the coredns/deployment repo.

The pod CIDR range is dependent on the pod network addon, and is not known at addon install time, hence it is not included in the context of a kubernetes install (e.g. `kubeadm init`).

The coredns/deployment repo is meant for replacing kubedns with coredns in an existing cluster

[2017-12-13 10:46] JinsYin commented on #32
@chrisohaver Thx.

[2017-12-13 10:46] #32 closed

[2017-12-19 00:22] chrisohaver opened #37 "Kubernetes: pods insecure"
Should we add pods insecure to te manifest here?

Things to consider:

- it’s an insecure option, so for new installs probably not.
- for upgrades of a k8s cluster that already already uses it, we need to include it ( or pods verified)
- I think this behavior is deprecated, per the dns spec

[2017-12-19 00:33] fturib commented on #37
We added this option in kubeadm manifest to be on parity with kube-dns behavior.

Currently that will impact all installations : new and maybe upgrades (upgrade without translation of configmap).

[2017-12-19 00:35] fturib commented on #37
I guess we can plan to remove it if we think that is more secure  ...
but we need to find the path:
- explain the use cases impacted and the choice to not use it
- prepare to change the default manifest kubeadm/kube-up/etc ... for v1.10
- change appropriately the e2e tests of k8s that will fail if that option is not on.

[2017-12-19 01:36] chrisohaver commented on #37
Oh. I thought the idea was only to make it affect upgrades (kubadm upgrade) and not new installs (kubeadm init) ... I recall discussing that, perhaps we decided to do it for both?

[2017-12-19 01:49] chrisohaver commented on #37
Yes, I suppose we should add it, even for new installs for the sake of parity.  The spec says ...

“This behavior is deprecated but is required to satisfy this specification. It will be removed from a future version of the specification.”

... so we will remove it as an option at some time in the future.

Perhaps we should consider making ‘pods insecure’ the default coredns pod mode... since it wi

[2017-12-19 14:11] #37 closed

[2017-12-20 21:43] chrisohaver opened #39 "Add CI webhook to this repo"
coredns/ci#11 is merged, and on the ci server.
Now we can add the web hook to this repo to allow "/integration" comments to trigger tests of the kubernetes deployment script.

[2017-12-20 21:44] chrisohaver commented on #39
(i dont have permissions to do this myself)

[2017-12-21 15:17] #39 closed

[2017-12-27 12:45] zoidbergwill opened #42 "Deploying to GKE"
Maybe this just needs to be documented, but do you folks have any ideas on how I'd go ahead finding my service and pod CIDRs for container engine?

I found this feature request but couldn't see any tips from it: https://github.com/kubernetes/kubernetes/issues/25533

I looked at the related issues and none of them looked specifically like they'd have the info I'd need.

I guess I could get a libera

[2017-12-27 19:34] chrisohaver commented on #42
These are not so easy to determine. See:
kubernetes/kubernetes#25533

You might be able to get the service cidr from `kubectl cluster-info dump`. Pod cidr is even more obscure, since it depends on the pod network add-on used.

The cidrs are only needed by coredns for reverse zone lookups. That is, if you make the too wide, the only negative effect is that you’ll be masking some reverse lookups tha

[2017-12-27 19:43] chrisohaver commented on #42
FTR, I believe that kube-dns masks ALL reverse zone lookups.

[2017-12-28 01:07] johnbelamaric commented on #42
We should figure out something similar. I think it adds complexity to have to configure these CIDRs.

On Dec 27, 2017, at 2:43 PM, chrisohaver <notifications@github.com<mailto:notifications@github.com>> wrote:

FTR, I believe that kube-dns masks ALL reverse zone lookups.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://git

[2017-12-28 05:56] nagarjunac commented on #42
I am facing the same problem. I have deployed a Kubernetes cluster on Azure. My clusterSubnet value is "10.244.0.0/16" . And each agent node is assigned a pod CIDR from this subnet with a /24 range.
I have 3 agent nodes as of now and their pod CIDR's are 10.244.6.0/24, 10.244.5.0/24 and 10.244.4.0/24.
What CIDR should I provide while deploying the CoreDNS in place of the pod CIDR?

[2018-01-02 13:40] chrisohaver commented on #42
Agreed.  If you define 0.0.0.0/0 as the subnet, then it has this effect.  We could make this the default behavior of no CIDRs are defined - in effect, defaulting to behave like kube-dns.

[2018-01-02 14:05] chrisohaver commented on #42
Actually, this may be complex to do in coredns itself because of the general way reverse zones are implemented (it's not a kubernetes plugin specific feature).  Making this the default behavior globally would not work.  So, we should do this just as a _deployment_ default.

[2018-01-02 16:14] chrisohaver commented on #42
I was wrong about that.  I tested, and it appears that kube-dns actually does a fall-through of some kind to the upstream DNS for reverse zone lookups of IPs that don't exist in the cluster.  So, as coredns works now, putting "0.0.0.0/0" in the config is not equivalent to kube-dns behavior.

[2018-01-02 17:02] chrisohaver commented on #42
Related: coredns/coredns#1074  - specifically, the `ptr_fallthrough` suggestion (which was not addopted).

[2018-01-05 17:42] johnbelamaric commented on #42
@miekg I think we need to do something about this. Having to update the Corefile for every pod CIDR is a big hassle. Especially since there is no API to get those CIDRs (which in fact come out of the CNI IPAM plugin in the most general case). I think the `ptr_fallthrough` option makes sense.

[2018-01-05 17:47] miekg commented on #42
I like Chris' suggestion better in the comment above: https://github.com/coredns/deployment/issues/42#issuecomment-354803419

Just use 0/0 (or 0.0.0.0/0) and make that do the right thing?

[2018-01-05 17:48] johnbelamaric commented on #42
To make that do the right thing we need the `ptr_fallthrough` and the 0/0. Just the 0/0 isn't enough. Or we could always to the equivalent of PTR fallthrough if 0/0 is in the CIDR list.

[2018-01-05 17:48] chrisohaver commented on #42
"making that do the right thing" would require a fall-through that only applies to that domain.

[2018-01-05 17:51] miekg commented on #42
yes? Or is this too implicit and we need/want something in the config?

Remind me: why does regular fallthrough not work here?

[2018-01-05 17:53] chrisohaver commented on #42
Because regular fall through would fall everything through. not just the reverse lookups in the 0/0 zone.

[2018-01-05 17:53] johnbelamaric commented on #42
Seems too implicit to me.

Regular fallthrough might work but will fallthrough all queries not just PTR. We really just want PTR to fallthrough in the default case.

[2018-01-05 17:55] miekg commented on #42
ok right. I would suggest that `reverse_fallthrought` is a better name for that and should then match on ip6.arpa and in-addr.arpa instead of checking the qtype.

And document this next to whereever we documented 'fallthrough' (for plugin authors)

[2018-01-05 17:58] johnbelamaric commented on #42
@chrisohaver do you have time to implement this?

[2018-01-05 18:01] chrisohaver commented on #42
We could add domains to the fallthrough command... and only fallthrough for those domains...

e.g. `fallthrough 0.0.0.0/0`  would only fallthrough for queries in the `in-addr.arpa.` domain.

It would need check other "smaller" domains within `0.0.0.0/0` ...
for example: For ...
[code]

we'd want to fall through for all reverse zones except for those in 10.0.0.0/8 ...

[2018-01-05 18:01] johnbelamaric commented on #42
Or...we could add the ability to list zones for `fallthrough`:

[code]

Which is equivalent to what you suggest but is more flexible.

[2018-01-05 18:02] johnbelamaric commented on #42
It's an echo. LOL

[2018-01-05 18:05] chrisohaver commented on #42
I would like to implement this, but I don't have time.

[2018-01-05 18:10] miekg commented on #42
Giving fallthrough a list of zones is an excellent idea. Should be not that
hard to do.

On 5 Jan 2018 18:05, "chrisohaver" <notifications@github.com> wrote:

[2018-01-06 00:18] miekg commented on #42
I'm oncall this weekend; which means I can prepare a PR for this (I hope)

[2018-01-06 01:29] johnbelamaric commented on #42
That's ok, I'll take it.

[2018-01-06 20:38] johnbelamaric commented on #42
OK, with the latest master you can do 0.0.0.0/0 and `fallthrough in-addr.arpa ip6.arpa` to make this work as desired.

[2018-01-07 08:13] miekg commented on #42
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] Deploying ..." ]

Pondering doing a 1.0.3 just because.

[2018-01-07 16:24] johnbelamaric commented on #42
Let’s get the integration tests first to make sure it’s all clean. Then it makes sense to me.

On Jan 7, 2018, at 3:13 AM, Miek Gieben <notifications@github.com<mailto:notifications@github.com>> wrote:

[ Quoting <notifications@github.com<mailto:notifications@github.com>> in "Re: [coredns/deployment] Deploying ..." ]

Pondering doing a 1.0.3 just because.

—
You are receiving this because you comm

[2018-01-11 16:27] miekg opened #46 "kubernetes: how do we kill the pod?"
CoreDNS needs SIGINT for the shutdown handlers to be called. I just implemented lameducking in the health middleware which will only work for SIGINT.

SIGTERM will just stop the process immediately.

[2018-01-11 16:37] miekg commented on #42
1.0.3 is out with in it

[2018-01-11 16:37] #42 closed

[2018-01-11 16:51] miekg commented on #21
I'm not going to work on this.

[2018-01-11 16:51] #21 closed

[2018-01-11 19:28] johnbelamaric commented on #46
Looks like k8s just sends a SIGTERM, no SIGINT:

[code]

We could add a preStop hook that sends a SIGINT instead. https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

[2018-01-11 20:05] miekg commented on #46
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] kubernetes..." ]

https://github.com/mholt/caddy/issues/1993

/Miek

--
Miek Gieben

[2018-01-15 11:49] zoidbergwill commented on #42
This is awesome. Thank you all.

[2018-01-16 20:31] chrisohaver opened #48 "kubernetes: Add fallthrough in-addr.arpa ip6.arpa to the k8s config."
Fallthrough for zones was added in 1.0.3.

Add `fallthrough in-addr.arpa ip6.arpa` to config.

[2018-01-16 20:32] chrisohaver opened #49 "kubernetes: Add pod anti node affinity"
Add pod anti node affinity, now that there are 2 replicas.

[2018-01-16 20:35] chrisohaver commented on #48
This means changes to the script (in coredns/deployment), and the deployment integration test (coredns/ci)... i.e. removing the service and pod cidrs as options.

Leaving them in as options would be confusing.

[2018-01-17 12:47] swade1987 opened #50 "Currently pods can be scheduled to master nodes"
If the master node(s) have a NoSchedule taint the current deployment manifest would allow pods to be deployed on master nodes.

**Assumptions:**

- You have a Kubernetes cluster running
- The master node(s) kubelet config has the `register-schedulable=true` set.
- The master nodes(s) have the following taint applied

[code]
- Cordon **all** other nodes (excluding master nodes) in the cluster

[cod

[2018-01-17 17:21] chrisohaver commented on #50
The master noSchedule taint toleration was replicated from the kube-dns deployment manifest in kubeadm.
I don't know the original reason for it, but it may be due to the fact that when building a cluster, initially there is only a master and no nodes, and cluster DNS may be needed for some base operation before nodes are added.

@luxas, do you know the original reason for adding the master taint t

[2018-01-18 20:25] #49 closed

[2018-01-19 18:24] chrisohaver commented on #50
@bowei, are you familiar with the reasoning behind adding the master taint toleration to kube-dns?

[2018-01-19 18:25] #48 closed

[2018-01-25 18:27] chrisohaver commented on #50
@swade1987,  in lieu of input from kubeadm or kubernetes teams, what are the reasons you think coredns should _not_ be able to run on master node?

[2018-01-25 18:30] miekg commented on #50
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] Currently ..." ]

master is busy enough; adding something as dns on it as well, will almost
certainly lead to sadness.

(I have no idea how the k8s team came to the opposite conclusion)

[2018-01-25 18:32] chrisohaver commented on #50
"almost certainly" is almost certainly an exageration... ;)

[2018-01-25 18:47] chrisohaver commented on #50
It seems there is some inconsistency on this position within kubernetes.

For example: kubernetes/kubernetes#54945 is a request to add the master taint toleration to kube-dns...  which means it wasn't there before.  Though I think the addon directory that the PR modifies is deprecated... so the kube-dns manifests could have been out of date...

[2018-01-25 19:01] chrisohaver commented on #50
Yeah - i confirmed the kubernetes/cluster/addons directory is "legacy" per its readme, and "deprecated" per the kubernetes addons web page.

Anyways, one argument to leave the toleration in place: In a scenario where coredns cannot for whatever reason be scheduled to a worker node, then running it on the master is better than not running it at all.

[2018-01-25 19:09] swade1987 commented on #50
I always go with the `separation of concerns` mindset. Leave master nodes to be master nodes and act as `just` the kubernetes control plane.

[2018-01-25 19:10] miekg commented on #50
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] Currently ..." ]

maybe if you scale down to 0 nodes you still want kubedns to run?

[2018-01-25 19:13] willvrny commented on #50
Would it be better to have the default be the preferred practice e.g. separation of concerns therefore no master toleration and then document that if people want to schedule to master nodes to add the toleration?

[2018-01-25 19:14] johnbelamaric commented on #50
Guess it's whether you consider service discovery a critical service that is part of the control plane or an add on extra thing. Most things won't work without it. So a `PreferNoSchedule` makes sense to me.

That said, these manifests are not gospel and can be tweaked for specific deployments.

[2018-01-25 20:05] bowei commented on #50
The kube-dns manifests in the addons directory are current. It looks like the toleration is only in kubeadm.

Regarding where kube-dns runs, in general, the master node typically does not run things such as kube-proxy or kube-dns. In some deployments, the master node is not actually part of the normal cluster network. This means pods running on the master node will not be network reachable, hence

[2018-01-25 20:09] #50 closed

[2018-01-25 20:13] chrisohaver commented on #50
OK - I merged this.  The kubeadm team can leave the taint toleration in if that's what they prefer.

One size isn't going to fit all.  And I don't think we can even prescribe a "preferred" deployment manifest.  There isn't a "typical" deployment.  This deployment is just a suggestion. etc etc

[2018-01-25 20:33] chrisohaver commented on #13
Most every thing here is in the deployment now, except for the above.  In fact, we have recently merged a change that does the exact opposite of this, never allowing coredns to be scheduled on the master node. See discussion #50.

[2018-01-25 20:33] #13 closed

[2018-01-26 09:24] zoidbergwill commented on #42
Thanks folks for all this work, unfortunately I have a next problem with trying to deploy CoreDNS to container engine, but I'll try make a ticket with them somehow.

They run the k8s addons with `addonmanager.kubernetes.io/mode: Reconcile` so you can't switch `kube-dns`'s selector to point to coredns.

[2018-01-26 10:07] miekg commented on #42
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] Deploying ..." ]

Is this even so with Alpha clusters?

[2018-01-26 11:38] zoidbergwill commented on #42
I can't see it in the Addons mentioned or anything, but will test an alpha cluster this weekend. Maybe when they add 1.9 support they'll add it.

[2018-01-30 08:10] campbelldgunn opened #59 "Unable to remove kube-dns from Kubernetes Cluster v1.9.1"
Followed the instructions from https://github.com/coredns/deployment/tree/master/kubernetes
Tried to remove kube-dns using `$ kubectl delete --namespace=kube-system deployment kube-dns` is says it deleted, but within a few mintues it re-appears.

Any assistance would be greatly appreciated!

[2018-01-30 09:53] campbelldgunn commented on #59
@johnbelamaric Any ideas would be greatly appreciated as I was just following the instructions. It is a v1.9.1 K8s cluster, so RBAC is enable. thx.

[2018-01-30 12:10] johnbelamaric commented on #59
It is probably the add-on manager. How did you build the cluster? Is it a managed cluster like GKE?

On Jan 30, 2018, at 4:53 AM, Campbell Gunn <notifications@github.com<mailto:notifications@github.com>> wrote:

@johnbelamaric<https://github.com/johnbelamaric> Any ideas would be greatly appreciated as I was just following the instructions. It is a v1.9.1 K8s cluster, so RBAC is enable. thx.

—
You

[2018-01-30 12:49] campbelldgunn commented on #59
The cluster was built using acs-engine in MS Azure.

[2018-01-30 14:13] chrisohaver commented on #59
It does sound like an addon-manager.  I have no direct experience with Azure deployments of kubernetes.  But inferring from some other discussions, you might try the following ...

Look in /etc/kubernetes/addons/ on the master for a kube-dns yaml definition. Try deleting that yaml file (or moving it out of the directory), then restarting the addon manager (by deleting the addon-manager pod in kube

[2018-01-30 14:22] chrisohaver commented on #59
... Also be aware that the addon manager may be reconciling the kube-dns _service_ too (i.e. restoring it to the point to the select the kube-dns pods instead of the coredns pods).  If so, you'll need to re-apply the yaml produced by the deployment.sh script.

[2018-01-30 16:42] campbelldgunn commented on #59
All right I will have a look at that. thanks.

[2018-01-30 18:17] campbelldgunn commented on #59
@chrisohaver Nope, did exactly the steps above and the Kube-DNS deployment comes back and so do the pods.

[2018-03-02 20:49] #46 closed

[2018-03-02 20:49] #59 closed

[2018-03-06 21:04] chrisohaver opened #63 "kubernetes: readinessProbe"
Look into adding a readinessProbe to the deployment.  Probably something similar to `livenessProbe` like...

[code]
As of now, it may be redundant with livenessProbe, since we don't (as of yet) ever go "unready" after becoming ready.  But without the readinessProbe, k8s may be reporting that a coredns pod is ready before it is actually becomes healthy.

https://kubernetes.io/docs/tasks/configure-p

[2018-03-06 21:28] chrisohaver commented on #63
I was thinking that with UDP, there is no practical reason for a readiness probe, since there is no difference from a user perspective between a service not routing a request at all, vs routing it to an unready pod. In both cases the client simply receives no answer.

However, we if there are more than one replica of coredns pods (as we recently have done in this deployment), then it's possible th

[2018-03-30 02:27] ernoaapa opened #67 "Kubernetes: Config auto-reload?"
Hi,
just tested out coredns and feels great!
I was kind of surprised that when I made changes to the Config, the changes didn't get applied automatically. You can send `SIGUSR1` to coredns to reload the config, but would be nice to reload automatically.

Before finding any other way to implement this, just asking do you know is there any plan to implement this into the coredns Kubernetes integrati

[2018-03-30 07:38] miekg commented on #67
[ Quoting <notifications@github.com> in "[coredns/deployment] Kubernetes: Co..." ]

You need to add the reload plugin for this to work, coredns.io/plugins/reload

/Miek

--
Miek Gieben

[2018-04-01 17:08] ernoaapa commented on #67
Oh sweet, thanks! Need to read more about coredns, looks awesome :)

[2018-04-03 13:04] chrisohaver commented on #67
This is an open bug with the `reload` plugin.  There are a few open issues in coredns/coredns e.g. coredns/coredns#1604.  The same behavior is also seen when sending a SIGUSR1 signal.

[2018-04-03 13:20] chrisohaver commented on #67
I _think_ if you disable all plugins that listen on ports (in your case `health` and `prometheus`), then graceful reloads would work.  But disabling those is not typically practical.

[2018-04-03 14:46] ernoaapa commented on #67
Ok, thanks for help.
It’s quite rare that I need to change the configs so deleting pods one by one is good workaround until issue is fixed so I’ll go with that.

[2018-04-11 13:32] johnbelamaric commented on #67
I would like to have the reload plugin enabled by default in the K8s deployment manifest. @chrisohaver @fturib What fixes are still needed in CoreDNS to make that feasible?

[2018-04-11 13:36] chrisohaver commented on #67
AFAIK: coredns/coredns#1621

[2018-04-21 03:35] stonefury opened #70 "Compliment: Thanks"
This is very slick, I like the approach to installing it. Until I found this I thought I would need to update the kubelet config or use kubeadm upgrade.

[2018-04-21 03:35] #70 closed

[2018-04-22 22:07] fturib commented on #67
these issues are now resolved.
the fix is in coredns/MAIN and should be is planned to be available on next release 1.1.2

=> need then to update the corefile for K8s when 1.1.2 will be available (all fixes are in, but there is no due date defined) : https://github.com/coredns/coredns/milestone/16

[2018-04-27 07:00] peiqi-caicloud opened #72 "continue asking serviceaccount/token when without serviceaccountname: coredns"
hello I deployment coredns1.1.2 in k8s 1.9 which has no auth. so I only deploy cm, deployement and service part of your yaml, removing the serviceaccount name : coredns line in dp.

But the coredns keeps crashing and report "no such file or directory /var/run/token...
<img width="1142" alt="screen shot 2018-04-27 at 2 59 06 pm" src="https://user-images.githubusercontent.com/5621794/39348903-94d842

[2018-04-27 07:44] #72 closed

[2018-04-28 16:42] den-is opened #73 "api versions for k8s resources"
First of all thanks for all that work you are doing.

Just want to point on one moment.
If your are targeting for GA in k8s 1.11, (I already use it in prod with 1.10), why not to fix api version for k8s resources in deployment manifests?

[code]

[2018-04-29 04:33] rajansandeep commented on #73
@den-is The apiversion is already in v1 for kubeadm.
Are you using kubeadm or any other tool?

[2018-04-29 06:46] den-is commented on #73
@rajansandeep
no. only hardcore - manual deployments with yaml files.
good that `kubeadm` is using newer versions for deploy.
but for example someone like who's wondering across repos and finally using files from this repos has to thoroughly review and edit files before deploy.

[2018-04-30 12:41] chrisohaver commented on #73
@den-is, Thanks for pointing it out.  I'm happy to hear you are using coredns in production!

If you have not already, we'd appreciate it if you could add yourself to coredns/coredns/ADOPTERS.md.

[2018-04-30 17:45] chrisohaver commented on #67
The `reload` plugin is now included in the Corefile created by the deployment tool.

[2018-04-30 17:58] chrisohaver opened #74 "kubernetes: proxy -> forward"
Should we replace `proxy` with the `forward` plugin yet?

* In performance tests using a local upstream server, `forward` could handle about 4% more QPS than `proxy`, which is probably not compelling on it's own.
* `proxy` as more mileage.
* `proxy` may be removed from default builds of CoreDNS in the future.

[2018-04-30 18:00] miekg commented on #74
Figured that much. Should, maybe be possible to squeeze more perf out of
forward. I also assume the test was UDP only?

On Mon, 30 Apr 2018, 18:58 chrisohaver, <notifications@github.com> wrote:

[2018-04-30 18:01] chrisohaver commented on #74
Yes, UDP only.

[2018-04-30 18:04] miekg commented on #74
Ack. In fairness, forward was faster before, but less correct. Should be an
easier target to optimize

On Mon, 30 Apr 2018, 19:01 chrisohaver, <notifications@github.com> wrote:

[2018-04-30 18:09] miekg commented on #74
I.e. I wonder where time is spend in each.

On Mon, 30 Apr 2018, 19:04 Miek Gieben, <miek@miek.nl> wrote:

[2018-04-30 19:48] miekg commented on #74
Doing some pprof and measuring (on my laptop, on wifi, while watching a movie on the network). So...

Corefile:
[code]
with: `% make TIME=5 PORT=1043 queryperf`

pprof:
[code]
Results:   `Queries per second:   18.490072 qps`
(and timeouts)

Now with *forward*:

pprof
[code]
Also a lot of timeouts and failures:
but:   `Queries per second:   98.834832 qps`

So....

[2018-04-30 20:17] chrisohaver commented on #74
FYI, For the performance tests I ran, I set up an upstream coredns (with template plugin) in the same kubernetes cluster (running on a separate node).  k8s cluster is running on 3 packet boxes.

Without cache enabled, `forward` did 39850 qps and `proxy`did 38338 qps. The difference could be just noise.
I just double checked the configs i used to make sure i didn't test the same thing twice.

[2018-04-30 21:17] johnbelamaric commented on #74
What's the network plugin? Weave? How does it perform running in the host namespace in each case?

[2018-04-30 22:28] chrisohaver commented on #74
Calico if I recall. What is the “host namespace”?

[2018-05-01 06:24] miekg commented on #74
[ Quoting <notifications@github.com> in "[coredns/deployment] kubernetes: pr..." ]

We should probably extend these tests to include multiple protocol (udp and tcp
- with force_tcp) and grab memory and cpu graph with the prometheus plugin.

[2018-05-01 06:34] miekg commented on #74
Some off the bat runs (to local host, running CoreDNS with localhost).
Glancing CPU from top (so meh), but:

proxy: 29K, 217% CPU
forward: 35K, 203% CPU

So, forward uses 90% of the cpu and delivers 20% more qps.

Doing tests inside k8s is useful, but you didn't specify the setup and thus I
can't say if you hit other bottle necks...

[2018-05-01 11:08] johnbelamaric commented on #74
Host network namespace- ie hostNetwork

---
John Belamaric
(240) 383-6963

On Apr 30, 2018, at 6:28 PM, chrisohaver <notifications@github.com<mailto:notifications@github.com>> wrote:

Calico if I recall. What is the “host namespace”?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/coredns/deployment/issues/74#issuecomment-38554781

[2018-05-01 11:40] chrisohaver commented on #74
Ah - network namespace - i was thinking k8s namespace...

regarding using host networking and tcp ...

I can try those ... I'll have to modify all the test manifests ... and the tests scripts themselves ... and potentially the test client container itself (which I cant find the source code for).  Or just redo performance tests using a completely different set of tools.  But I want to get the analy

[2018-05-01 12:33] miekg commented on #74
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] kubernetes..." ]

Fair enough (and super useful!)

Wish we had this more automatic, but hard to pull off something like that.

[2018-05-21 08:57] den-is commented on #73
@chrisohaver nah :) not yet, maybe later. but thatnks for the invintation.
we are not that big or company which wants to get advertised :)

If it's okay I can do PR

[2018-05-23 18:47] carlwgeorge commented on #21
I may be able to help.  I package Caddy for Fedora and EPEL.  Are CoreDNS plugins similar to Caddy plugins, in that they are compiled into the main binary?  If so which plugins would be appropriate to build into the RPM?

[2018-05-23 20:00] miekg commented on #21
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] rpm packag..." ]

Thanks!

yes they are compiled into the main binary. All supported plugins that are
listed in plugin.cfg; they are all appropriate for inclusion.

[2018-05-24 18:39] carlwgeorge commented on #21
https://github.com/coredns/coredns/blob/v1.1.3/Makefile#L39-L41

[code]

Are these the minimum versions of these dependencies, or just the versions you chose to build your binaries with?

[2018-05-24 19:05] miekg commented on #21
The pinned versions we use for the build. We can't vendor these because
then external plugins won't compile. Otherwise these would be vendored.

On Thu, 24 May 2018, 19:39 Carl George, <notifications@github.com> wrote:

[2018-05-26 15:31] nik786 commented on #21
does any one now how to integrate certificates in core dns???

[2018-06-27 20:58] fturib commented on #67
@ernoaapa : following comment of @chrisohaver , I guess we can close this issue. Correct ?

[2018-06-27 23:14] ernoaapa commented on #67
Sorry, yes this can be closed now

[2018-06-27 23:14] #67 closed

[2018-07-04 11:40] fedya commented on #21
I wrote spec file for coredns and built rpm.

[2018-07-09 04:55] nik786 opened #82 "remove nik786"
Can anyone remove me from this repository??My username is nik786

[2018-07-09 12:19] chrisohaver commented on #82
Click "Unwatch" ... ?

Not sure what you mean...

[2018-07-09 12:24] nik786 commented on #82
Following repositories are showing in my github dashboard
coredns/coredns
projectcalico/calicoctl
projectcalico/cni-plugin
kubernetes/kubernetes
hasicorp/consul
gliderlabs/registrator
kelseyhightower/consul-on-kubernetes

But I'm searching way to clean these repositories from my dashboard
I have already clicked on unwatch and ignore option.
Is there any way to clean/remove these from own dashboard

[2018-07-09 12:45] chrisohaver commented on #82
This repo is `coredns/deployment`...

Anyways, that list is I think more like a "recent browsing history".  Not something I can control.

I guess you could browse/comment on a bunch of other repos, and those would eventually drop off the bottom of the list?

[2018-07-11 22:34] krmayankk opened #84 "Running coredns on kubernetes doesnt take the apiservers from kubeconfig"
My kubernetes cluster doesnt have service account which is the default configuration for coredns.

I want to use a kubeconfig file to reach the apiservers and coredns doesnt have any option for that which is blocker for me.

[2018-07-12 13:31] fturib commented on #84
I guess it is covered by this issue : https://github.com/coredns/coredns/issues/1965

[2018-07-12 14:21] chrisohaver commented on #84
Not really.  It's related, but not in a "blocker" sense. coredns/coredns#1965 is a feature request for convenience.

@krmayankk, You may be able to connect using the `endpoint` and `tls` options in the kubernetes plugin.  Those options are normally used for out-of-cluster connections, but should also work from in cluster (though I have not tested it).

[2018-07-13 00:07] krmayankk commented on #84
@chrisohaver could you provide an example ? i dont think this option of kubeconfig is super hard to add since the client-go you use already supports it. I can easily add it , just dont know how to plumb it through your corefile or command line options. I am currently blocked since kube-dns doesnt provide the ip and reverse ip lookups for pods of deployments and coredns i cannot use because my clus

[2018-07-13 12:56] fturib commented on #84
@krmayankk : I guess @chrisohaver will not be able to answer today. I have no example of that configuration.

But the readme of this plugin is here : https://github.com/coredns/coredns/blob/master/plugin/kubernetes/README.md

I can propose the following operations (but I did not tested directly .. they may need a little tuning):

1- you should insert too lines in the kubernetes option of your Core

[2018-08-13 22:44] drpaneas opened #87 "coredns stuck at ContainerCreating"
I am running the latest kubeadm 1.11 where CoreDNS is the default. I've also installed weave-net plugin. However, I still cannot get coredns pod running ....

[code]

Any debug tips?

[2018-08-14 00:07] drpaneas commented on #87
I was missing the `looback` binary of CNI. Now everything is fine,

[2018-08-14 00:07] #87 closed

[2018-09-06 07:08] fkore opened #95 "Problem: kebernetes deploy shell script fails when working directory has spaces"
Solution: quote `${YAML_TEMPLATE}` when calling the `sed` command

[2018-09-06 12:46] #95 closed

[2018-09-06 12:47] #82 closed

[2018-09-06 12:48] #73 closed

[2018-09-06 12:49] #74 closed

[2018-09-11 17:53] doctorCC commented on #87
Could you elaborate?  I am having a similar issue, where I was trying to use the flannel plugin (which is Running) but there are 2 coredns which seem to be stuck in ContainerCreating
kubectl get pods --all-namespaces
NAMESPACE     NAME                             READY     STATUS              RESTARTS   AGE
kube-system   coredns-78fcdf6894-sdvhr         0/1       ContainerCreating   0          6m

[2018-09-11 17:56] chrisohaver commented on #87
@doctorCC Any errors/warnings in kubelet logs?

[2018-09-11 18:00] johnbelamaric commented on #87
Can you do `kubectl describe po coredns-78fcdf6894-sdvhr`?

On Tue, Sep 11, 2018 at 10:56 AM chrisohaver <notifications@github.com>
wrote:

[2018-09-19 13:51] chrisohaver opened #98 "kubernetes: Adjust DNS autoscaling defaults for CoreDNS"
K8s currently recommends using a pod based dns-autoscaler that scales DNS replicas based on compute cluster size (with node:replica and core:replica ratios). The default settings in the dns-autoscaler stand as the only official recommendation/guidance from k8s on how to scale DNS pods in a cluster (that I am aware of).

For various reasons CoreDNS can handle more load with less replicas than kube-

[2018-09-19 14:12] miekg commented on #98
[ Quoting <notifications@github.com> in "[coredns/deployment] kubernetes: Ad..." ]

coredns via the health plugin export a metric:

 If monitoring is enabled (via the *prometheus* directive) then the following metric is exported:

 * `coredns_health_request_duration_seconds{}` - duration to process a /health query. As this should
   be a local operation it should be fast. A (large) increases in th

[2018-09-19 14:13] miekg commented on #98
[ Quoting <notifications@github.com> in "[coredns/deployment] kubernetes: Ad..." ]

Having said that, focussing on getting memory down, would be nice as well. I'm
pondering a bit on how to get good feedback on that via our CI tooling

[2018-09-19 17:44] johnbelamaric commented on #98
Last I checked (quite a while ago), HPA could do CPU but doing a custom
metric from Prometheus was much more difficult.

On Wed, Sep 19, 2018 at 7:12 AM Miek Gieben <notifications@github.com>
wrote:

[2018-09-19 20:21] miekg commented on #98
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] kubernetes..." ]

that's fixed (or at least better) with metric server.

[2018-09-25 16:52] doctorCC commented on #87
I tore down the sysem and rebuilt it, allowing the emptyCluster to sit there overnight.  Again there were two coredns which were never built.  I tried to deploy a simple nginx, which also went into a ContainerCreating state.  The logs from that **were** available and are below.
It appears to me that there is an issue with the Flannel network

I am running:
s390 architecture
kubectl version 1.11.3

[2018-09-25 17:06] chrisohaver commented on #87
Perhaps it's [this ipv6 disabled in kernel issue](https://github.com/coreos/flannel/issues/936)...

[2018-10-05 21:49] smorrisfv commented on #87
I'm running into the same issue, and I have IPv6 enabled.  I'm using a fresh setup using `kubeadm` on Ubuntu Server 18.04.

[code]

When I run `describe` I get the following error message,

[code]

Which isn't very useful.

Any luck @doctorCC?  Also, @drpaneas, what do you mean by loopback for CNI?

[2018-10-09 11:48] kalginshah commented on #87
how exactly did u set the 'loopback'?

[2018-10-09 14:57] smorrisfv commented on #87
Thanks @johnbelamaric and @kalginshah for your help.  I found my issue, it was a bug in Flannel (coreos/flannel#1044) when running on K8s 1.12. What fixed it for me was the suggestion from [this comment](https://github.com/kubernetes/kubernetes/issues/48798#issuecomment-427454190).

[2018-10-16 22:34] spitfire88 commented on #87
- go  get -d github.com/containernetworking/plugins
-  cd ~/go/src/github.com/containernetworking/plugins
- ./build.sh
- sudo cp bin/* /opt/cni/bin/

[2018-10-20 21:10] oxygenxo commented on #87
Thank you @spitfire88! This works for me. Although I have now idea why I need to download and compile something when I'm trying to use kubeadm

[2018-11-09 08:50] fzu-huang commented on #84
what about run coredns with kubeconfig？ I use coreconf with endpoint and kubeconfig specified，but it errored with：

```plugin/kubernetes: ./coreconf:6 - Error during parsing: Wrong argument count or unexpected line ending after '/root/huangyang/coredns/client.conf'```

[2018-11-09 12:41] chrisohaver commented on #84
Please share your Corefile.

[2018-11-09 21:18] ola07 commented on #87
This is does not fix my issue

[2018-11-21 02:40] lvs071103 opened #111 "coredns can't resolve domain"
deploy setup:

[code]
another pod can't resolve domains, for example:

[code]
my deployment method correct?

[2018-11-21 13:39] chrisohaver commented on #111
"clouster.local" looks like a typo.

[2018-11-22 14:59] lvs071103 commented on #111
change to cluster.local, but still not resolve
[code]

[2018-11-22 15:10] chrisohaver commented on #111
You’re getting inconsistent results, sometimes a timeout, sometimes an answer (NXDOMAIN) which implies network connectivity issues, perhaps only on some nodes or between nodes. There are two coredns replicas by default, and it’s possible that your client pod (dnstools) may have a route to one but not the other depending on which nodes they get scheduled on.

On Nov 22, 2018, at 9:59 AM, zhoufurong

[2018-11-22 16:36] lvs071103 commented on #111
cool, internal is OK!  thanks a lot
[code]

[2018-11-22 16:38] lvs071103 commented on #111
public cloud is not OK!   I will continue try, thank you

[2018-11-28 14:36] mathieuduperre commented on #87
executing spifire's recommended steps did not work. running this work:

kubectl -n kube-system apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml

(kubernetes/kubernetes#48798)
as recommended by smorrisfv

[2018-12-19 16:30] rajansandeep opened #113 "Switch API version to apps/v1"
Upstream k8s now is switching to apps/v1 API for deployments.

[2018-12-20 12:46] gopalask opened #114 "Not Able to spin up CoreDNS pod in other master nodes"
I have setup multi  master kubernetes cluster. core DNS pods are running only on one of the master nodes. Even not able to come up on other master nodes when coreDNS pods are killed.

[2018-12-20 12:52] gopalask commented on #114
Below is the output of coreDNS pod

[root@cspkong-dev-gw1 net.d]#  kubectl get po -n kube-system -o wide
NAME                                      READY   STATUS              RESTARTS   AGE   IP             NODE              NOMINATED NODE   READINESS GATES
coredns-7655b945bc-drpjp                  1/1     Running             0          40m   10.32.0.3      cspkong-dev-gw1   <none>           <none

[2018-12-20 19:32] fturib commented on #114
Is it a problem of CoreDNS or deployment or "Multi Master" cluster ?

There is no much information to tell here.

What is your configuration ?  Looks like one cluster of 3 master nodes.
What is the information attached to the creation of the coredns pod on "other" masters ?

Maybe provide the output of:

`kubectl describe pod -n kube-system coredns-7655b945bc-lkm4w`

[2018-12-26 17:52] gopalask commented on #114
I tried setting up kubernetes 1.12.4 cluster with three master and three minions. Same issue CoreDNS hung is container creating.

Below is the output
kubectl describe pod -n kube-system coredns-576cbf47c7-2zdtb
Name:               coredns-576cbf47c7-2zdtb
Namespace:          kube-system
Priority:           0
PriorityClassName:  <none>
Node:               cspkong-dev-gw1/10.127.38.6
Start Time:

[2018-12-27 11:55] idanlevin opened #116 "coresdns is still labeled as kube-dns"
Hi Guys,

I wonder why the coredns deployment still has `k8s-app: kube-dns` instead of `k8s-app: coredns`?

For example the `prometheus-operator` is looking for coredns using `k8s-app: coredns` but obviously it fails to find it.

Any reason for this?

[2018-12-27 16:06] miekg commented on #116
I believe this was done because of backwards compatibility.

On Thu, 27 Dec 2018, 11:55 Idan <notifications@github.com wrote:

[2018-12-27 19:14] idanlevin commented on #116
@miekg do we know what will break if we change it? any way we can validate that's not a mistake? or are there plans to eventually change it?

[2018-12-27 19:19] miekg commented on #116
Why do we need to change it?

On Thu, 27 Dec 2018, 19:14 Idan <notifications@github.com wrote:

[2018-12-27 19:35] tariq1890 commented on #116
My two cents: I think this issue does raise a good question of how we maintain dependencies here. It's certainly misleading when we use `kube-dns` as label selectors when `kube-dns` is intended to be phased out by `coredns`

[2018-12-27 19:45] miekg commented on #116
Not disputing that, but they are some tradeoffs (like backwards
compatibility). At some point though, naming the thing coredns makes sense.
How we get there in a sane way is the question.

On Thu, 27 Dec 2018, 19:35 Tariq Ibrahim <notifications@github.com wrote:

[2018-12-27 20:51] idanlevin commented on #116
maybe we could introduce a new service while keeping the old one for a while:
[code]

this way, applications looking for `coredns` service can use `k8s-app: coredns`.

then we probably should decide on a date/release where we deprecate the old `kube-dns` service and change the `k8s-app` label of the pods to `coredns`

WDYT?

[2018-12-28 01:15] fturib commented on #116
It was decided to keep the service as `kube-dns`.
it allows the applications that needs to reach the DNS service to have the same selector, whatever the DNS service is (kube-dns or CroeDNS). For instance the horizontal scaler works w/o any change.

Think as the `kube-dns` for "the DNS service of the cluster".

NOTE: For me, the issue is on the description where `prometheus-operator` has changed it

[2018-12-29 06:16] msq6323013 commented on #87
上面都不太好用，我CentOS7.3，是这样解决的：
编辑：/etc/default/grub中，ipv6.disable=0
运行：grub2-mkconfig -o /boot/grub2/grub.cfg
重启服务器
------------------------------------------------
Tried above comments are not available for me, In my CentOS 7.3 server, here is the solution:
vi / etc / default / grub ==edit===> ipv6. disable = 0

Restart the server
------------------------------------------------
上記の方法は私に対してあまり使いにくいです

[2019-01-01 09:21] #116 closed

[2019-01-03 03:42] gumutianqi opened #117 "this googlesource code repo is not connect at China"
**It is suggested that googlesource to be replaced github.com**

[code]

[2019-01-03 08:09] miekg commented on #117
For the homebreww thing I assume? Feel free to send a PR, also all the other revision need to be bumped. Or better yet, automatically determined from the main Makefile of coredns.

[2019-01-17 02:51] wilsonwu commented on #87
you should add --namespace=kube-system when you run describe pod command.

[2019-01-23 04:35] INT-ZC opened #120 "coredns stuck at ContainerCreating"
This issue is very similar as [issue 87](https://github.com/coredns/deployment/issues/87), however, the result of [lookback](https://github.com/coredns/deployment/issues/87#issuecomment-412707705) does not work with following return:
`can't load package: package github.com/containernetworking/plugins: no buildable Go source files in /root/go/src/github.com/containernetworking/plugins`

The return

[2019-01-24 06:47] rajansandeep opened #121 "Kubernetes deployment to use forward instead of proxy"
Modify the coredns configuration to use `forward` plugin instead of `proxy` plugin in its default configuration for Kubernetes deployments.

[2019-02-01 16:57] rajansandeep opened #124 "Change the deployment manifest to apps/v1"
The PR https://github.com/kubernetes/kubernetes/pull/72203 changes the API version to apps/v1 for the deployment manifest for kube-up deployments. This is already been changed for kubeadm deployments for a while now.

Do we change it in our deployment manifest as well?

[2019-02-01 16:57] #113 closed

[2019-02-01 16:58] chrisohaver commented on #124
yes

[2019-02-01 18:38] #124 closed

[2019-02-15 10:22] Neekoy opened #129 "Kubernetes 1.13 not querying CoreDNS"
I wanted to add a CNAME record in CoreDNS for my cluster. I've edited the CoreDNS configmap in the following way:

[code]

I restarted CoreDNS, and the hostname is available in the pods:

[code]

This is great.

However, when running a new pod with has a BASH script in its `args`, I get the following:

[code]

So it cannot look up the hostname `peer0.example.com`. Upon investigation, the `172.20.0

[2019-02-15 14:22] chrisohaver commented on #129
The Service name the cluster DNS is always named "kube-dns", whether or not the Pods is selects are "kube-dns" or "CoreDNS".

[2019-02-25 06:34] miekg opened #131 "inefficient corefile"
[code]
is ineffcient and should be split up into multiple servers.

[code]
will kill any reverse look ups.

See https://github.com/coredns/coredns/issues/2593#issuecomment-466888239 for a better one

[2019-02-25 14:00] chrisohaver commented on #131
We have no way of knowing what the pod cidr space is.  We cannot determine this programmatically from the k8s api.

We can ask the user. But they don't typically know this.  Hence the current solution.

[2019-02-25 16:36] miekg commented on #131
.. with the tradeoff their performance is very bad. Sorry, this is a not a good generic solution

[2019-02-26 01:59] bardiharborow opened #133 "MacOS.prefer_64_bit? deprecated"
The Mac install instructions throw this on Homebrew 2.0.2, because of Homebrew/brew#5477:
[code]

[2019-03-26 07:07] majulong opened #136 "when core-dns rollback to kube-dns pod can resolve cluster address but can't resolve external adresses"
kubectl exec -it etcd-0 sh
/ # nslookup etcd.default
nslookup: can't resolve '(null)': Name does not resolve

Name:      etcd.default
Address 1: 172.30.243.197 etcd-2.etcd.default.svc.cluster.local
Address 2: 172.30.243.246 etcd-1.etcd.default.svc.cluster.local
Address 3: 172.30.243.255 etcd-0.etcd.default.svc.cluster.local

/ # nslookup www.google.com
nslookup: can't resolve '(null)': Name does n

[2019-03-28 20:23] johnbelamaric opened #137 "kubernetes: add mount of /tmp"
In order to fix https://github.com/coredns/coredns/issues/2464 and related issues with crashing due to glog/klog issues, we should just add an EmptyDir volume and mount it on /tmp

[2019-03-28 20:24] chrisohaver commented on #137
to clarify - you mean as temporary fix for people using 1.3.1?
This issue is already fixed in 1.4.0.

[2019-03-28 21:54] johnbelamaric commented on #137
Yes. Especially since most people will use 1.3.1 for now due to backwards
incompatibilities in 1.4, correct?

On Thu, Mar 28, 2019 at 1:24 PM chrisohaver <notifications@github.com>
wrote:

[2019-03-28 22:04] fturib commented on #137
NOTE:
- 1.4.0 could be compatible for most of people - at least would not reject a config -. But there is a bug on `reload` - which is used on default config for Kubernetes
- any further version (currently master) hhas backward incompatibility and the default config provided with k8s v1.14 would fail CoreDNS.

For people having an issue with glog/klog, solution could be:
1- mount /tmp (as proposed

[2019-03-28 22:06] johnbelamaric commented on #137
Oh, so 1.4.1 will be OK and won't run afoul of deprecation policy in K8s?

On Thu, Mar 28, 2019 at 3:04 PM Francois Tur <notifications@github.com>
wrote:

[2019-03-28 22:10] fturib commented on #137
Hum ... I am not sure I understand.
1.4.1 does not exist yet ...  let say we build it now, it will be out of `mater` that is already incompatible (no `proxy`, and "upstream" option of `kubernetes` does not exist anymore)

So you cannot use an image CoreDNS 1.4.1 for a Corefile we ship in k8s v1.14 - or earlier.

[2019-03-28 22:27] johnbelamaric commented on #137
So, there will be no 1.4.0, we are going straight to 1.5.0? Because unless
we bump the minor version, we can't do the incompatible release.

We either need to release a 1.4.1 that fixes reload, or we need to add this
/tmp and stay at 1.3.1 in k8s until the deprecation period there has passed.

On Thu, Mar 28, 2019 at 3:10 PM Francois Tur <notifications@github.com>
wrote:

[2019-03-28 22:28] fturib commented on #137
You are right, I understand the plan is to go straight to 1.5.0 - see #2669

[2019-03-28 22:31] fturib commented on #137
But 1.4.1 cannot get out of current `master`.
It would need to be a fork from 1.4.0 and cherry-pick the[ PR that fix the bug of `reload`](https://github.com/coredns/coredns/pull/2656).

[2019-03-31 08:59] miekg commented on #137
emptyDir for glog should not be needed. What *would* be needed is a test that catches when glog/klog starts barfing output again.

[2019-04-02 17:22] johnbelamaric commented on #137
It's needed for 1.3.1, which doesn't have the fix.

[2019-04-03 17:20] chrisohaver commented on #137
Yeah, i think this workaround should be in place until we update the image to a version that fixes the g/klog issue, at which point we should remove it.

@rajansandeep, can you create a PR to add this to the Deployment yaml... see
https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

[2019-04-03 17:25] chrisohaver commented on #137
Perhaps we should be tagging releases in this repo.

[2019-04-08 20:33] #137 closed

[2019-04-10 13:06] #131 closed

[2019-04-10 13:07] chrisohaver commented on #63
this will be

[2019-04-10 13:07] #63 closed

[2019-04-10 13:07] #129 closed

[2019-04-10 13:11] chrisohaver commented on #120
Found this issue while house cleaning.  Sorry for missing it until now.  Are you still having this issue?

[2019-04-10 13:12] #111 closed

[2019-04-10 13:12] #84 closed

[2019-04-10 13:13] #117 closed

[2019-04-10 13:13] #114 closed

[2019-04-10 13:15] #98 closed

[2019-04-10 13:19] chrisohaver commented on #136
Can you describe steps to reproduce this?

[2019-04-10 14:52] miekg commented on #131
This is still true. Probably makes a lot of sense to remove fall through
from kubernetes, as it only there to be abused

On Wed, 10 Apr 2019, 14:06 chrisohaver, <notifications@github.com> wrote:

[2019-04-15 20:05] chrisohaver commented on #131
see duplicate issue and related discussion: coredns/coredns#2723

[2019-04-16 14:02] chrisohaver opened #153 "kubernetes: default corefile structure"
Currently the default corefile deployed by our deployment script uses a single server block. e.g.

[code]

Let's discuss concrete pros and cons of alternative defaults that are structured differently (e.g. multiple server blocks).

[2019-04-16 14:46] chrisohaver commented on #153
As separate server blocks, and without the reverse zone `fallthrough`, this looks something like...

[code]

Although it has been urged that we do so, it's not clear to me what the concrete benefit of splitting up into multiple server blocks is.  There is some efficiency gained, i think, if the plugin chains are very long.  Each query traverses less plugins (though I think that in itself would be

[2019-04-16 14:48] chrisohaver commented on #153
FYI ... @miekg @johnbelamaric @fturib @rajansandeep

[2019-04-16 15:17] fturib commented on #153
Yes, from Caddy behavior, the `setup` function of each plugin will be called as many `keys` are defined in the `ServerBlock`. It is defined in `executeDirectives` [here]( https://github.com/mholt/caddy/blob/605787f6717602982f7f485353a7cb479b659802/caddy.go#L618)

In other words, with such configuration we would have as many instance of `Kubernetes` structure as Zones that are defined in this serve

[2019-04-16 15:50] chrisohaver commented on #153
@fturib, How do other plugins cope with that, e.g. health, metrics.  Multiple instances of those would collide on the listening port.

[2019-04-16 20:39] fturib commented on #153
It is not manage by other plugins.
For `metrics` the problem is larger than only the KEY at the ServerBloc. The same listening port could be share between several plugin instance on different servers. So anyway there is already a mechanism to share the same listener for several instances of the same plugin.

For `health` I am not sure how that works with multiple KEY ... does it?
looks like it oes

[2019-04-17 12:59] omerh commented on #98
@miekg can you please share HPA example for CoreDNS with metric server installed ?

[2019-04-17 13:16] miekg commented on #98
I don't have those examples. I now metrics server exist, but there my
knowledge stops

On Wed, 17 Apr 2019, 13:59 Omer Haim, <notifications@github.com> wrote:

[2019-04-17 14:45] chrisohaver commented on #153
So it seems that at least until the plugin instance duplication for multi zone blocks is fixed, we will have to stick to a single stanza for now.

The question remains whether or not we should cease using `fallthrough` for reverse domains.  It becomes a matter of choosing the lesser evil...
1. Continue to use `fallthrough`, and suffer performance impact for reverse zone queries of IPs that are not

[2019-04-30 03:59] vamxiaomi opened #161 "Back-off restarting failed container"
Name:               coredns-99649559f-wqjf8
Namespace:          kube-system
Priority:           2000000000
PriorityClassName:  system-cluster-critical
Node:               k8s-n2/192.168.90.107
Start Time:         Tue, 30 Apr 2019 11:56:00 +0800
Labels:             k8s-app=kube-dns
                    pod-template-hash=99649559f
Annotations:        <none>
Status:             Running
IP:

[2019-05-01 14:50] #133 closed

[2019-05-03 11:17] jrd commented on #120
I had the same problem.

The reason was missing helpers in /opt/cni/bin/ (in my case portmap was missing)

Kubernetes eco-system seems to grow very fast, so be careful to have the necessary binaries with the current k8s version.

[2019-05-08 17:42] chrisohaver commented on #161
coredns logs?

[2019-05-08 17:43] #120 closed

[2019-05-08 17:44] #136 closed

[2019-05-08 17:49] chrisohaver opened #162 "kubernetes migration: proxy -> forward"
We need to handle cases where multiple proxy plugins exist in a single server block.

We can either error out or convert them into new server blocks.
I think converting them into new server blocks will be challenging, but we should explore it to see if its feasible to deliver now.  If it's not feasible, then we need make the migration return an error.

[2019-05-08 19:06] chrisohaver opened #163 "kubernetes migration: expand test cases"
We should expand the existing unit test oriented cases, to be more broad.
By unit tests oriented, I mean that each test currently aims to test a specific migration operation that we have implemented.

The goal of adding more test cases would be to capture different styles of Corefiles we have seen in the field (or concoct on our own), to make sure there aren't any cases we stumble over.

[2019-05-17 17:22] johnbelamaric opened #170 "migration tool is awesome"
This is super-cool, I don't think it only applies to K8s, maybe it should be up-leveled to the deployment directory, or even have its own repo.

[2019-05-17 17:24] chrisohaver commented on #170
lol - well it's very k8s centric now.  i.e. it only supports k8s related plugins.

[2019-05-17 17:26] johnbelamaric commented on #170
ok, perhaps it could evolve into something more general. and maybe the plugins themselves could publish information / code to convert their own configs? If we did that, then external plugins could also implement that.

[2019-05-17 17:29] chrisohaver commented on #170
yes - I had same dream, but I intentionally didn't go that route because it would have involved coordination in coredns/coredns ... and I needed a solution to happen ...

[2019-05-17 17:33] chrisohaver commented on #170
... but now that we have a solution ... Of course we can propose going that route.

[2019-05-17 17:41] johnbelamaric commented on #170
Yes, getting the details working in here makes sense.

On Fri, May 17, 2019 at 10:33 AM chrisohaver <notifications@github.com>
wrote:

[2019-05-20 14:48] rajansandeep commented on #162
This can be closed. Done in https://github.com/coredns/deployment/pull/164.

[2019-05-20 20:26] ravi134 commented on #87
worked for me

[2019-05-20 23:27] srmadugula commented on #114
I have setup Kubernetes HA cluster with 3 masters.  Version 1.14.2  Observed that 2 coredns containers are running on only one master.  If I stop this Master, coredns is stopped.  Are there any configuration to spawn this to remaining masters?

[2019-05-21 12:55] chrisohaver commented on #114
@srmadugula, you could try using pod anti-affinity.  It has scaling issues in large clusters (i think in the realm of > 1000 nodes), but I think should be OK for small to medium clusters.

[2019-05-23 19:49] chrisohaver opened #174 "Generalize corefile migration tool; move to new repo"
The kubernetes [migration library framework](https://github.com/coredns/deployment/tree/master/kubernetes/migration) is designed to be general.  However currently it only defines migrations for Kubernetes related plugins.

The library can be generalized if we add plugin migration definitions for other plugins.  This would be mostly a clerical task - albeit a sizable one.

If more plugins are suppo

[2019-05-23 19:58] chrisohaver commented on #170
@johnbelamaric, thanks for the enthusiastic support.  I've opened #174, proposing generalizing the tool and moving it to a new repo.

[2019-05-23 19:58] #170 closed

[2019-05-28 19:21] #162 closed

[2019-05-28 19:21] #161 closed

[2019-05-30 20:46] chrisohaver opened #177 "kubernetes/migration: refactor to not import caddy"
Caddy imports are causing trouble for users of the library.

See kubernetes/kubernetes#78033

It would be more palatable if we don't import Caddy.  We can do this by copying parsing functions locally, and refactoring to use alternate caddy funcs (e.g. caddyfile to/from json).

[2019-05-30 21:58] #177 closed

[2019-07-10 08:30] mikeroyal opened #183 "snap[Feature Request]"
I was wondering if you might have an interest in a [snap](https://snapcraft.io/) version. I would help make the snap and submit a PR if there's any interest.
[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[2019-07-11 19:17] rajansandeep commented on #174
Migration-tool is moved to https://github.com/coredns/corefile-migration

[2019-07-11 19:18] #174 closed

[2019-07-11 19:19] #163 closed

[2019-07-16 07:24] mikeroyal commented on #183
Hi miekg, that works too let me know what I can do to help.

[2019-07-16 08:07] miekg commented on #183
Add files to create a snap

On Tue, 16 Jul 2019, 08:24 Michael Royal, <notifications@github.com> wrote:

[2019-07-25 17:57] chrisohaver commented on #153
per @johnbelamaric's [experiments](https://github.com/coredns/kubernetai/issues/25#issuecomment-515133352), it looks like client-go employs some form of connection sharing - so the memory thing may not be an issue.  However it depends on which level the connections are shared (e.g. is there a single network connection, but multiple cache/stores, or is there a single cache store, etc).  Further tes

[2019-07-25 18:08] johnbelamaric commented on #153
I think just the connection is shared. Meaning the caches are duplicated.

[2019-07-25 23:37] fabstao commented on #87
Hi! I applied the deployment and the go get steps, now I get:
[code]
Please help

Host: ClearLinux
Kubernetes:
[code]

[2019-07-29 05:12] wu0407 commented on #84
set like this:
kubeconfig /etc/coredns/kubeconfig coredns-context

[2019-07-29 17:49] chrisohaver opened #188 "Fix deployment ci"
Started getting post merge circle-ci failures. I'm pretty sure that these errors are a bug in the test build script, not an issue in the deployment code.  We should...
1. Fix that bug in the ci build for deployment repo tests.
2. Enable PR testing of deployment repo in circle-ci.

[2019-07-29 18:11] chrisohaver commented on #188
1 above is hopefully fixed with coredns/deployment#187

[2019-07-30 20:50] johnbelamaric commented on #84
probably the version of CoreDNS you are using. that option was added in 1.2.2

[2019-08-21 14:17] liminghua999 opened #191 "can't install with k8s 1.15.0"
I also meet this question.
docker: 18.09.6
k8s: 1.15.0
os: centos 7.6.1810
calico: v3.8.1

1: git clone https://github.com/coredns/deployment.git
./deploy.sh -s -r 10.254.0.0/16 -i 10.244.0.253 -d cluster.local  | kubectl apply -f -
I install coredns after calico is good
and the coredns pod is stay in ContainerCreating

kubectl   describe pod coredns-797455887b-s9r8n -n kube-system
`Failed create

[2019-08-21 14:24] rajansandeep commented on #191
1. How are you installing Kubernetes?
2. what version of CoreDNS are you using?

It seems like a network/docker issue more than a CoreDNS issue
I'd suggest you to try restarting docker `systemctl restart docker` and see if the error remains.

[2019-08-21 14:27] liminghua999 commented on #191
1.  Binary installation
2. coredns is 1.5.0
        #: grep image deployment/kubernetes/coredns.yaml.sed
        image: coredns/coredns:1.5.0
        imagePullPolicy: IfNotPresent

[2019-08-21 14:29] liminghua999 commented on #191
![2](https://user-images.githubusercontent.com/18185326/63440847-239fea80-c463-11e9-8fb2-11b52026ba16.png)

[2019-08-21 14:29] chrisohaver commented on #191
@liminghua999, There are many diffreent cluster level problems that can cause this.

Try an internet search for "Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container"

[2019-08-21 14:30] liminghua999 commented on #191
OK  thanks

[2019-09-09 10:34] luciferhs opened #193 "can't install withcoredns/coredns:1.6.2"
kubernetes version is 1.15.3
when  kubectl apply -f coredns.yaml  then   it crash!!
the log show /etc/coredns/Corefile:16 - Error during parsing: Unexpected EOF

[2019-09-09 12:39] #191 closed

[2019-09-09 12:41] chrisohaver commented on #193
Please share...
1. The command you used to create the yaml file.
2. The content of the yaml file.

[2019-09-09 13:52] luciferhs commented on #193
Thanks!!!
1.The command is  'kubectl apply -f coredns1.6.2.yaml'
2.content is as follows：
apiVersion: v1
kind: ServiceAccount
metadata:
  name: coredns
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: system:coredns
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - services
  -

[2019-09-09 14:03] luciferhs commented on #193
thanks ！！！
I took care of the problem！

[2019-09-09 14:03] chrisohaver commented on #193
I edited your response to make it readable... Github uses "markdown" check out https://guides.github.com/features/mastering-markdown/

That's the command you used to *apply* the file.
Not the command you used to _create_ the file.

Did you follow the instructions in the readme?  You need to run `deploy.sh`, which uses the template to create a valid yaml file you can apply.

https://github.com/core

[2019-09-09 14:04] #193 closed

[2019-09-11 16:41] jmcmeek opened #197 "Revisit pod node anti-affinity rules"
pod anti-affinity rules were revoked in https://github.com/coredns/deployment/pull/60 due to Kubernetes scheduler performance concerns.

Scheduler performance enhancements have been made since then and I think it is safe to use those now.  See my question and reply on #sig-scheduler Slack channel
Q: https://kubernetes.slack.com/archives/C09TP78DV/p1568127000040100
R: https://kubernetes.slack.com/a

[2019-09-11 16:42] jmcmeek commented on #197
Also, should this include zone anti-affinty?  Something like
[code]

[2019-09-11 17:27] chrisohaver commented on #197
The docs still warn against using them.

https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity

Do you know which PR or commit(s) fixed it?  I searched closed  k/k PRs, and found one from April 2019, but that doesn't line up with the 1.13 release date.

[2019-09-11 17:59] jmcmeek commented on #197
Scouring change logs and git history...

Kubernetes change logs suggest 1.11 and 1.12 had work done for anti-affinity scheduler performance - it looks like 1.11 would have been the bigger.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-scheduling-1
- Performance of the anti-affinity predicate of the default scheduler has been improved. (#66948, @mohamed-mehany)

https:

[2019-09-11 18:14] chrisohaver commented on #197
Thanks @jmcmeek !

Not sure about the 50 weights ... or how to mix zone and node anti-affinity correctly.
Perhaps using an empty topology key would work just as well, and be shorter...

From https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity

[2019-09-11 18:36] jmcmeek commented on #197
Checked with sig-scheduling about that warning: at https://kubernetes.slack.com/archives/C09TP78DV/p1568225168053800

[code]

[2019-09-11 18:44] chrisohaver commented on #197
OK Thanks, we can add it and see if it passes the 5k k8s scale tests.  We can add it here now, but as for merging into k8s (e.g. kubeadm/kubeup) 1.16 is already in code freeze, so it wont actually get tested until later on in the k8s 1.17 release.

[2019-09-11 18:47] jmcmeek commented on #197
@chrisohaver I did limited testing with the snippet I posted.  It "worked for me".

`failure-domain.beta.kubernetes.io/zone` might not always be present - a cluster `kubeadm` - so maybe it would be best to not do that.

Note: Pod anti-affinity requires nodes to be consistently labelled, i.e. every node in the cluster must have an appropriate label matching topologyKey. If some or all nodes are mis

[2019-09-11 20:38] jmcmeek commented on #197
On the surface, empty topologyKey does not seem to be allowed.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#podaffinityterm-v1-core

topologyKey _string_  This  pod should be co-located (affinity) or not co-located (anti-affinity)  with the pods matching the labelSelector in the specified namespaces,  where co-located is defined as running on a node whose value of the  lab

[2019-09-23 13:13] itsecforu opened #198 "Failed create pod sandbox: rpc error: code = Unknown desc"
coredns pod doenst start

` kubectl get pods --all-namespaces
NAMESPACE     NAME                                       READY   STATUS              RESTARTS   AGE
kube-system   calico-kube-controllers-6d57b44787-xlj89   1/1     Running             15         10d
kube-system   calico-node-dwm47                          1/1     Running             310        5d3h
kube-system   calico-node-hhgzk

[2019-09-23 14:48] itsecforu commented on #87
@msq6323013 on master node or worker?

[2019-09-23 14:55] chrisohaver commented on #198
looks like a docker problem

[2019-09-23 14:55] itsecforu commented on #198
[code]

[2019-09-23 15:00] chrisohaver commented on #198
can you `sudo docker run --rm  -it hello-world` on the same node that the coredns pod cannot start?

[2019-09-23 15:05] itsecforu commented on #198
[code]

[2019-09-23 15:07] chrisohaver commented on #198
So that node cannot reach the outside world?

[2019-09-23 15:17] itsecforu commented on #198
Hmm , I can ping google:
[code]

[2019-09-23 15:28] chrisohaver commented on #198
It seems that at least docker cannot reach the docker registry.  Maybe thats blocked on your network.  Does ... `docker run --rm -it k8s.gcr.io/coredns:1.6.2` work?

[2019-09-24 06:48] itsecforu commented on #198
seems as nope :-(

[code]

[2019-09-24 07:17] itsecforu commented on #198
tryed to make:

make a file:
[code]
with:
[code]
Then restart Docker:

[code]
Doesnt work(

[2019-09-24 07:52] itsecforu commented on #198
Is it normal that the coredns works on the master node and on worker1, although there are three workers, should it not only be on the master as a service service?
![1](https://user-images.githubusercontent.com/38696837/65492293-57828b80-deb9-11e9-9414-d0270950491c.jpg)

[2019-09-24 13:24] chrisohaver commented on #198
Yes. This can happen if your master doesn't have the [no-schedule taint](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation) so it accepts scheduled pods.  It also will happen if your coredns Deployment is configured to tolerate (ignore) the no-schedule taint.

Looks like docker is broken on worker1.
Try testing docker connect

[2019-09-24 14:03] itsecforu commented on #198
thx for feedback.

the same erorror on others nodes.

And I found this solution https://medium.com/@dirk.avery/docker-error-response-from-daemon-1d46235ff61d

But I do not want to risk and update the kernel

but it does not work's , if even I stop firewalld.

[2019-10-09 18:48] rtheis opened #199 "Add lameduck to recommend Kubernetes deployment configuration"
Related to https://github.com/coredns/coredns/issues/2984, `lameduck` should be added to the recommend Kubernetes deployment configuration.  Adding `lameduck` to the `health` plugin minimizes DNS resolution failures during a CoreDNS pod restart or deployment rollout.  This does come at the expense of increased rollout times.  For HA environments, this trade-off is likely acceptable.

One can test

[2019-10-09 19:02] #188 closed

[2019-10-20 14:49] jeremy-fox opened #201 "Kubernetes deployment is invalid"
Tried to install in an existing K8s cluster using the instructions here https://github.com/coredns/deployment/tree/master/kubernetes and getting the following error about the deployment being invalid.

[code]

[2019-10-30 15:02] chrisohaver commented on #199
Fair point, I can raise the question on coredns/coredns.  Certainly in k8s it would be a desired default behavior, but not sure if changing the default behavior would be disruptive to non-k8s deployments.

[2019-10-30 22:26] #201 closed

[2019-11-03 04:49] midacts opened #207 "coredns.service: Error Starting Service"
Config:
[code]

Error:
[code]

Solution:
A few google searches referenced the workingdir so i removed it and the service started working.

[2019-11-03 04:49] midacts commented on #207
Thanks for your work on the coredns project and for providing these systemctl service files.
Very helpful

[2019-11-03 04:49] #207 closed

[2019-11-06 11:37] Davidrjx commented on #111
@chrisohaver hi, i am facing same problem but both internal & external domain do not work

[2019-11-06 11:43] Davidrjx commented on #111
/reopen

[2019-11-13 21:12] #197 closed

[2019-11-13 21:12] #199 closed

[2019-11-14 14:34] jmcmeek commented on #197
@chrisohaver Thank you!

[2019-11-29 04:59] fabstao commented on #87
Master node

[2020-01-17 14:42] fenidik opened #211 "kubernetes rollback to kube-dns doesn't work on k8s 1.16.2"
./rollback.sh | kubectl apply -f -
[code]

kubectl version
[code]

[2020-01-17 14:50] fenidik commented on #211
seems because of __PILLAR__DNS__MEMORY__LIMIT__ in https://raw.githubusercontent.com/kubernetes/kubernetes/master/cluster/addons/dns/kube-dns/kube-dns.yaml.base

[2020-01-17 14:59] chrisohaver commented on #211
Yeah, the line ..

https://github.com/coredns/deployment/blob/abfaf3277258ebc1b95e59ff180b7e184769ec7d/kubernetes/rollback.sh#L46

... needs to be updated - but not sure what value would go in there to replace it.

That the script appears to be pulling the latest template from master, and not the one from the version of k8s that is installed is potentially problematic.  Instead, perhaps, deploy.sh

[2020-04-01 12:52] NadamHL opened #215 "Error during parsing: Unknown directive '.'"
[code]

[2020-04-01 12:54] chrisohaver commented on #215
https://guides.github.com/features/mastering-markdown/

[2020-04-01 13:00] chrisohaver commented on #215
The Corefile is invalid, specifically, the section around hosts.
A correct syntax would be...

[code]

[2020-04-01 13:37] NadamHL commented on #215
Corefile: |
    .:53 {
        errors
        hosts . /etc/k8shosts {
            ttl 30
            reload 300ms
            fallthrough
        }
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {

error log：

[INFO] Reloading
2020-04-01T13:36:44.065Z [WARNING] plugin/hosts: Hosts file "." is a directory
2020-04-01T13:36:44.169Z [INFO] plugin/reload: Running configuration MD

[2020-04-01 13:38] chrisohaver commented on #215
https://guides.github.com/features/mastering-markdown/

[2020-04-01 13:39] chrisohaver commented on #215
please read ... https://github.com/coredns/coredns/tree/master/plugin/hosts

[2020-04-01 13:40] chrisohaver commented on #215
swap arguments to hosts ...
[code]

[2020-04-01 13:44] NadamHL commented on #215
.:53 {
        errors
        hosts /etc/k8shosts . {
            ttl 30
            reload 300ms
            fallthrough
        }
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {

error log：

[INFO] Reloading complete
[INFO] Reloading
2020-04-01T13:42:14.791Z [WARNING] plugin/hosts: File does not exist: /etc/k8shosts
2020-04-01T13:42:14.899Z [INFO] plugin/reload: Running c

[2020-04-01 13:46] NadamHL commented on #215
Host running pod：

# ll /etc/k8shosts
-rwxrwxrwx 1 root root 112 Apr  1 17:07 /etc/k8shosts

[2020-04-01 13:51] #215 closed

[2020-04-01 13:52] chrisohaver commented on #215
Looks like CoreDNS is working as expected.

[2020-04-01 13:57] NadamHL commented on #215
I want to read the / etc / k8shosts file instead of the default / etc / hosts file, but the error message shows that there is no / etc / k8shosts file, which actually exists on the host

[2020-04-01 14:01] chrisohaver commented on #215
In Kubernetes, CoreDNS runs in a container in a Pod, not on the host.  You'll need to set up a mount point in the Pod (by adding it to the Deployement spec).  Anyways, that becomes a Kubernetes matter, not a CoreDNS matter.  https://kubernetes.io/docs/concepts/storage/volumes/

[2020-04-01 14:07] NadamHL commented on #215
I understand what you said, but this configuration is added to configmap, which has already been attached to kubernetes

[2020-04-01 14:08] NadamHL commented on #215
If you need to mount the hosts of the host to coredns, and let coredns read the attached hosts, how to implement it

[2020-04-01 14:13] chrisohaver commented on #215
Please read the Kubernetes documentation...

https://kubernetes.io/docs/concepts/storage/volumes/#configmap

If you need further help, please move the question to a Kubernetes forum, such as https://slack.k8s.io in kubernetes-users or kubnernetes-novice channels, they should be able to help with general Kubernetes questions like this.

[2020-04-02 16:17] selimnl commented on #87
run this command to active flannel mode
it works. core dns gets running.

kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml

[2020-04-02 22:05] muety opened #216 "Permission denied"
I can't manage to start CoreDNS as a systemd service. Tried everything, but I'm always getting an error.

[code]

I followed the instructions from the readme. `coredns.service` exists in `/usr/lib/systemd/system`, I created the `coredns` user and also gave it read permission for `/etc/coredns/Corefile` as well as execute permission for `/usr/bin/coredns`. No other service is listening on port 53.

[2020-04-03 02:07] NadamHL opened #217 "plugin/hosts: File does not exist: /etc/k8shosts"
error log：

2020-04-03T01:59:04.482Z [WARNING] plugin/hosts: File does not exist: /etc/k8shosts
2020-04-03T01:59:04.586Z [INFO] plugin/reload: Running configuration MD5 = 07e6a04c79ce602cc144353c41883995
[INFO] Reloading complete

My configuration：

apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
      addonmanager.kubernetes.io/mode: EnsureExists
data:

[2020-04-03 12:07] chrisohaver commented on #217
Already discussed in #215.  The file does not exist in the container.

I recommend adding the contents of `/etc/k8shosts` to the coredns configmap, and mounting it in a similar manner as the Corefile is mounted. Link to Kubernetes manual for Volume mgmt in #215

This is a general Kubernetes question, not specific to CoreDNS deployments. So in this forum, the question is off topic.

[2020-04-03 12:07] #217 closed

[2020-04-03 12:16] chrisohaver commented on #216
Perhaps these links may help...
https://www.forums.fedoraforum.org/showthread.php?t=302291
https://www.forums.fedoraforum.org/showthread.php?t=314660

[2020-04-04 10:29] muety commented on #216
Thanks, SELinux was the problem. I had to change the context of coredns binary.

[2020-04-04 10:29] #216 closed

[2020-04-29 05:06] omicron-b opened #220 "dh_installchangelogs: changelog parse failure"
Not possible to deploy on Ubuntu 18.04

Sorry, zero experience with dpkg-buildpackage, so I am just posting an error here, no troubleshooting taken:

[code]

[2020-04-30 15:37] chrisohaver commented on #153
I have more or less confirmed this when testing coredns/coredns#3862. With coredns/coredns#3862, the caches are not duplicated for each zone in the server block, and therefore the memory footprint drops.

[2020-04-30 15:45] johnbelamaric commented on #153
Nice, I will try to review that soon.

[2020-04-30 19:08] omicron-b commented on #220
Never mind, built in a Debian VM

[2020-04-30 19:08] #220 closed

[2020-05-09 08:31] lrndevops commented on #87
I am also getting the same error - container creation >

bash-4.2$ kubectl get pods -n kube-system
NAME                                     READY   STATUS              RESTARTS   AGE
coredns-66bff467f8-hvhts                 0/1     ContainerCreating   0          27m
coredns-66bff467f8-qcxb4                 0/1     ContainerCreating   0          27m

Name:                 coredns-66bff467f8-hvhts
N

[2020-05-12 08:11] mbarrien opened #222 "Remove support for deprecated federation"
With the removal of federation from coredns plugins in  <https://github.com/coredns/coredns/issues/3041>, I suspect similar removal is needed from this repo, specifically all of the code from #100 and some of the code in #85.

[2020-05-22 11:46] mrueg opened #235 "Migrating CoreDNS chart from helm/charts to coredns/charts"
Since https://github.com/helm/charts is going to be deprecated in Nov 2020 (https://github.com/helm/charts#deprecation-timeline) I'd like to start an initial discussion if the CoreDNS chart could find a new home here. Together with @Acaleph @andor44 @shashidharatd, I currently maintain the chart in helm/charts.

**What would you like to be added**:
Ideally a CoreDNS helm chart repository in coredn

[2020-05-29 01:40] mholt commented on #207
What was the solution? I'm having the same problem but with the provided systemd instructions and file.

[2020-05-30 03:36] midacts commented on #207
Solution:
A few google searches referenced the workingdir so i removed it and the service started working.

[2020-06-09 02:05] mikechen66 commented on #87
spitfire88

I use the root to install the CNI as you mentioned.

[code]
But it notify me as follows.

[code]

What's wrong with the CNI configuration?

[2020-06-09 18:29] kunalpuriii opened #225 "Core DNS Service does not point to the endpoint"
Core DNS service does not point to endpoint

[code]

[2020-06-09 19:18] chrisohaver commented on #225
endpoint is not ready

[2020-06-09 19:50] kunalpuriii commented on #225
Sorry to ask this, i am trying to get documentation can you help
how shall i fix this issue

[2020-06-09 19:53] chrisohaver commented on #225
A good set of troubleshooting instructions: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

In your case, since the endpoint is not read, starting at: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#check-if-the-dns-pod-is-running

[2020-06-09 21:45] kunalpuriii commented on #225
Tried those steps but no luck, can you please share your experience what could be the issue.
Any help is appreciated.

[root@aalmglnams00001 ~/Kube-router] for p in $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name); do kubectl logs --namespace=kube-system $p; done
.:53
[INFO] plugin/reload: Running configuration MD5 = c01130958998acfddd4a8e74c3ad5d68
CoreDNS-1.6.7
linux/amd64

[2020-06-09 22:59] chrisohaver commented on #225
The CoreDNS logs show many errors...

The error ...
[code]
... suggests that one of your upstream DNS servers `172.23.83.11` is not reachable from your Pod network.

Due to the following (and similar) errors CoreDNS will report that it is unready because it cannot reach the kubernetes API (hence no ready endpoints) ...
[code]

Those errors point to a problem with your CNI network plugin resulting

[2020-06-10 00:08] mikechen66 commented on #87
Following the late-shared go installation, I have solved the issue with the following setup of cluster network.

**1. Configure the Flannel with sed**

_For ARM64 Architecture_

[code]
**Or**

_For AMD64 Architecture_
[code]

**2. Apply Flannel and Check the Configuration**

**1). Apply Flannel**

[code]

**3. Check the Configuration**

_1). Check kube-flannel-cfg_

[code]

**4. Check the Device**

[2020-06-12 16:54] #225 closed

[2020-06-14 21:43] kubealex opened #231 "coredns i/o timeout while on cri-o due to missing capability"
NET_RAW capability is missing by default on cri-o, so the pod is not able to open a socket to resolve hosts.
Adding the capability in the deployment solves the problem.

cri-o team is not going to add it to default capabilites, so it could be useful to add on this side or at least mention it in the documentation.

Opened a PR:

https://github.com/coredns/deployment/pull/230

[2020-06-16 14:33] #222 closed

[2020-06-16 14:39] chrisohaver commented on #231
What errors do you see in CoreDNS logs?

[2020-06-16 18:40] kubealex commented on #231
DNS requests from all the pods inside the cluster are directed to coredns pods and the error Is:

*Nametoberesolved*:ipofthecorendspod - i/o timeout

I Will reproduce this later so I can be more precise.

[2020-06-16 22:43] kubealex commented on #231
[ERROR] plugin/errors: 2 708971958910362702.551147112902951575. HINFO: read udp 10.244.0.3:49609->192.168.200.1:53: i/o timeout

10.244.0.3 is the coredns pod IP
192.168.200.1 is the DNS configured on host

dnsPolicy is Default

It happens with any network plugin, i just used flannel because it was handy,  but the same happens with calico/weavenet/crio-bridge

It tries to create outgoing connectio

[2020-06-18 12:07] chrisohaver commented on #231
IIUC, the "read udp" timeout suggests that a packet was sent, but a reply was never received. A failure to send would, I expect, result in a "dial" error.

[2020-06-18 15:51] YassineHk opened #232 "Kubernetes CoreDNS stuck at ContainerCreating"
Hello, im using kubernetes v1.18.4 on Centos8 i have initialized my cluster. I've also installed flannel plugin. However, I still cannot get coredns pod running ....
![image](https://user-images.githubusercontent.com/47417597/85042267-e8557180-b182-11ea-84dd-d6b1d3a06938.png)
any solution ?

[2020-06-18 16:41] chrisohaver commented on #232
You should approach this as you would any other Pod stuck in "ContainerCreating"...

e.g. look at the status in ...
`kubectl -n kube-system describe deployment coredns`
`kubectl -n kube-system describe pod  coredns-xxxx`

https://serverfault.com/questions/728727/kubernetes-stuck-on-containercreating

[2020-06-18 21:43] kubealex commented on #231
actually, no packet is sent, because it cannot be created by the process, since the NET_RAW capability allows the process to craft raw packets like ARP, ICMP and DNS.
Btw, you can easily replicate the issue, just create a single node k8s cluster with cri-o and deploy whatever plugin you want for CNI, then just tail the coredns pod logs.

[2020-06-19 00:21] chrisohaver commented on #231
OK, I would have expected the send to return a permission denied error of some sort in that case. I suppose it just fails silently.

[2020-06-19 08:10] YassineHk commented on #232
kubectl describe pod/coredns-66bff467f8-qfgrq -n kube-system

![image](https://user-images.githubusercontent.com/47417597/85111760-b0930c00-b20c-11ea-958c-6536224d1ccf.png)

kubectl describe deployment.apps/coredns -n kube-system

[2020-06-19 09:10] YassineHk commented on #232
problem solved by deleting --network-plugin=cni from /var/lib/kubelet/kubeadm-flags.env
but now pods do not have internet access when i curl into my pod :/
[code]

[2020-08-12 23:04] chrisohaver commented on #235
This issue was opened to discuss where the new chart should live.

answer: coredns/deployment

[2020-08-12 23:04] #235 closed

[2020-08-28 02:37] scottrigby commented on #235
@chrisohaver would you like help moving this? We're tracking progress on moving charts to their new homes here https://github.com/helm/charts/issues/21103

One easy way to so this is with Helm GitHub Actions (a working demo of the Helm GitHub actions, so you can see it in action: https://github.com/helm/charts-repo-actions-demo). These are the basic steps:
1. configure this repo to use a `gh-pages

[2020-11-15 06:31] AntonOfTheWoods opened #240 "Helm stable/coredns now won't install"
https://github.com/coredns/deployment/issues/235 apparently determined that this was the repo for a coredns helm chart.
Now it has been marked as deprecated in stable, so it refuses to install (and I couldn't find a way to force it).

Is the problem that no one wants to maintain it?

Edit: it looks like the chart tgz have also been removed from https://charts.helm.sh/stable/, meaning now one has t

[2020-11-19 01:08] zouyee commented on #232
issue about k8s network
/close

[2020-11-19 10:17] asergeant01 commented on #240
It appears https://coredns.github.io/deployment/ is not being served correctly

[2020-11-19 12:04] AntonOfTheWoods commented on #240
@asergeant01 , my understanding is that Github pages hasn't been activated yet. I'm guessing it was voluntary and something else needs to be done before the maintainers are comfortable with it going live.

[2020-11-19 12:55] asergeant01 commented on #240
@AntonOfTheWoods You are probably correct, i just though since the issue was closed, that coredns must be installable from helm.

[2020-11-19 13:04] chrisohaver commented on #240
try...
`helm repo add coredns https://lablabs.github.io/deployment/`

[2020-11-19 13:50] chrisohaver opened #242 "Enable github pages for gh-pages branch"
Please enable github pages for the gh-pages branch. This is for the purpose of giving the helm chart repository a public url... e.g. https://coredns.github.io/deployment. Thanks!

[2020-11-19 13:51] chrisohaver commented on #242
/cc @miekg

[2020-11-19 14:03] chrisohaver commented on #240
This issue was auto-closed because of the "this fixes" comment the PR. re-opening until github pages is enabled in the project. #242

[2020-11-19 14:07] #183 closed

[2020-11-19 14:08] #232 closed

[2020-11-19 14:52] asergeant01 commented on #240
@chrisohaver Thanks. I can confirm that works for now.

[2020-11-19 15:36] miekg commented on #242
and github.com/coredns/deployment isn't a stable url?

[2020-11-19 16:28] chrisohaver commented on #242
I don't think it works with helm, which expects to see `index.yaml` in the root.

[2020-11-19 16:36] chrisohaver commented on #242
... Actually... _this_ works `https://raw.github.com/coredns/deployment/gh-pages`

We can point people to that if enabling github pages for the project is not desired.

[2020-11-19 17:27] chrisohaver commented on #240
This also appears to work ... https://raw.github.com/coredns/deployment/gh-pages

I see some other projects that use the same raw.github.com for their helm repo instead of using github pages.

[2020-11-19 17:28] #242 closed

[2020-11-19 17:39] #240 closed

[2020-11-19 18:53] chrisohaver commented on #240
If the URL above ends up being impractical or awkward in any way, we can re-propose enabling github pages in this project. But for now, it _seems_ that it's not necessary.

[2020-11-20 13:37] asergeant01 commented on #240
@chrisohaver This works perfect. Is there now a plan to have this available in artifacthub?

[2020-11-20 14:26] chrisohaver commented on #240
I'm not aware of a plan for that.  Not obvious what we'd need to do for that. I tried setting up an account but I didn't get a conf email, and I cannot log in.  I cannot find any documentation that describes how one would make items available in artifacthub.  It's in "beta", and on the README, it describes a TODO:  "A process by which new artifacts get added to Artifact Hub, updated, and removed.

[2020-11-20 14:42] chrisohaver commented on #240
Ah, it went to junk mail.  I logged in, clicked around, and added it... should be "processed in 20 minutes."

[2020-11-20 17:18] miekg commented on #242
[ Quoting <notifications@github.com> in "Re: [coredns/deployment] Enable git..." ]

I don't care about gh-pages. It's that some random project has some crazy rule that
requires us to exert effort.

[2020-12-23 14:40] youp123 commented on #87
Such issue (stuck at ContainerCreating) happened to me because flannel was not properly installed after I created k8s cluster.

I used CentOS 7.8

Pls try this

# how to install flannel (https://phoenixnap.com/kb/how-to-install-kubernetes-on-centos)

[root@master-node ~]# kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
podsecuritypolicy.polic

[2021-02-16 12:21] sadiq1425 commented on #87
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "0540b7e66e4e5c5aa34abefd27bf303cf901ad2bad771f2408c1d9f41952311a" network for pod "coredns-74ff55c5b-6pn9f": networkPlugin cni failed to set up pod "coredns-74ff55c5b-6pn9f_kube-system" network: stat /var/lib/calico/nodename: no such file or directory: check that the calico/node container is running

[2021-03-03 14:01] strus38 opened #247 "MIssing update in CoreDNS-k8s_version.md"
Hi
Could you please advise on the CoreDNS version for 1.20.x of K8S?
We see some master commits which may indicate 1.8.3 will be for 1.20.2, but 1.20.4 is out, so I was wondering if you could update the readme to find out if we need to stay on 1.7.0 or wait for 1.8.3.
Thanks!

[2021-03-03 16:21] chrisohaver commented on #247
I updated the document. As for advise on which version to use...

If you want to leverage dualstack, then you'll need use CoreDNS 1.8.1. That version however introduced a bug that causes CoreDNS not to start if the K8s API is offline - I don't think it's a critical bug, but better to avoid it if dualstack is not needed. Hopefully the proposed fix will merge for 1.8.3.

Otherwise, 1.8.0 should be f

[2021-03-03 16:35] chrisohaver commented on #247
(I accidentally deleted this response while trying to edit it on my phone ...)

I've updated the document. As for advice on which version to use...

If you want to leverage dualstack, then you'll need use CoreDNS 1.8.1 or greater. That version however introduced a bug that causes CoreDNS not to start while the K8s API is offline - I don't think it's a critical bug, but better to avoid it if dualst

[2021-04-05 09:14] AmirHossein1372 commented on #232
Make sure that old undesired CNI configurations are cleaned (contents of `/etc/cni/net.d` directory), before using `kubeadm init` for creating a cluster.

[2021-04-14 17:09] amarbs commented on #21
@fedya Do you intend to open-source the spec file? If so, can you please share the pointer?

[2021-05-07 14:35] tristan-tsl commented on #231
i meet this problem also, i test it work well, my cri is containerd 1.14

[2021-08-18 13:41] pawcykca commented on #247
Hi @chrisohaver,

Do you know if fix for below bug was merged and released in 1.8.4?

Could you update this document for recent K8S versions (1.21 and 1.22)?

[2021-08-18 13:47] chrisohaver opened #254 "Update CoreDNS-k8s_version.md for recent K8S versions 1.21 and 1.22"
Update CoreDNS-k8s_version.md for recent K8S versions 1.21 and 1.22

[2021-08-18 13:48] chrisohaver commented on #247
Yeah, should be fixed in 1.8.4.

Opened https://github.com/coredns/deployment/issues/254

[2021-08-18 13:58] #247 closed

[2021-08-18 14:04] #231 closed

[2021-08-24 00:39] #254 closed

[2021-08-24 15:21] tchartron commented on #207
Removing the WorkingDir line in the systemd service file also got it working for me, thanks @midacts

[2021-09-02 14:41] harshakondreddy commented on #198
**Getting below issue**
`Failed to create pod sandbox: rpc error: code = Unknown desc = failed to inspect sandbox image "k8s.gcr.io/pause:3.2": Error response from daemon: layer does not exist`

evaluated by
[code]
 Restarting docker worked for me...
`Systemctl restart docker`

[2021-09-17 17:22] Tangtn commented on #87
it worked for my issues with Calico network plugin
Install Calico
Install the Tigera Calico operator and custom resource definitions.

kubectl create -f https://docs.projectcalico.org/manifests/tigera-operator.yaml
Install Calico by creating the necessary custom resource. For more information on configuration options available in this manifest, see the installation reference.

kubectl create -f ht

[2021-10-25 20:12] utkonos opened #256 "Warnings During Package Build"
The following two warnings are generated during the package build process on Ubuntu 20.04.3 LTS.

[code]

Steps to reproduce:
[code]

Complete build process output:
[code]

[2021-10-25 20:24] utkonos opened #257 "Debian/Ubuntu Package Service Fails to Start"
Using the package generated in issue #256 steps to reproduce, the resulting package installs a service that fails to start.

Steps to reproduce:
[code]

Output:
[code]

[2021-10-25 22:35] #257 closed, assigned to nobody

[2022-01-06 20:27] groschi24 opened #262 "open /var/lib/kubernetes/ca.pem: no such file or directory"
New Setup of kubeadm

`kubectl -n kube-system describe pod coredns-85c6ff46d-jwp82`

[code]

[2022-01-06 21:27] chrisohaver commented on #262
Please ask this in kubeadm channels.

[2022-01-07 05:12] #262 closed

[2022-01-10 07:53] zxzmcode opened #263 "How to set log file path when use systemd"
How to set log file path when use systemd

[2022-02-19 16:46] audioscavenger commented on #87
creating the /run/flannel/subnet.env fixes the coredns issue not starting but it's only temporary.
My solution for the master/control-plane :

1. `kubeadm init --control-plane-endpoint=whatever --node-name whatever --pod-network-cidr=10.244.0.0/16`
2. `kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml`
2. restart all
[code]

[2022-03-13 04:18] mimoralea commented on #87
Actually, I only had to do a:

`sudo systemctl restart containerd` and the CoreDNS containers got created the next second.

[2022-03-13 07:24] kaysond opened #267 "Is there an easy way to build a specific version?"
Right now `VERSION` is set dynamically to the latest release on github. Is there an easy way to build an older one? Right now I'm having to modify `debian/rules` to add `-e` to `make` in the shebang so I can set `VERSION` as an env var.

Is there an easier way to do this?

[2022-04-08 09:05] Keith-Hon commented on #87
fixed by https://github.com/kubernetes/kubernetes/issues/70202#issuecomment-481173403

[2022-04-23 02:14] utkonos opened #269 "Unmet Build Dependency: dh-systemd (Missing on 22.04 LTS Ubuntu)"
There is no longer a package dh-systemd on Ubuntu 22.04. The package build command fails with the following error:

[code]

I am not familiar with how this works, but there is another bug in a different package that mentions dh-systemd in context of 22.04 LTS:
`Update Build-Depends to use debhelper (>= 9.20160709) instead of dh-systemd.`

https://bugs.launchpad.net/ubuntu/+source/at/+bug/1946843

[2022-04-23 22:07] utkonos commented on #269
The package `dh-systemd` is a transitional package. It only exists in older Debian and Ubuntu releases. I have made a PR that adjusts the packaging control file to correct for this. This has been tested on Ubuntu Focal and Jammy the LTS versions before and after the transitional package was removed. The PR works in both.

[2022-05-16 10:59] emollusion opened #274 "Installing recursor - too many errors (Unbound) - make: *** [Makefile:16: coredns] Error 2"
Hi!

I am trying to install the recursor as per the manual instructs but I end up at this error.

When I run make i get the following error:
[code]

System:
Linux dns-recursor-test 5.4.0-94-generic #106-Ubuntu SMP Thu Jan 6 23:58:14 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Any ideas?

Thank you!

[2022-05-27 19:02] utkonos commented on #269
The PR is a permanent fix, but here is a quickie workaround:

[code]

[2022-05-27 19:03] utkonos commented on #256
Here is a quickie workaround:

[code]

[2022-06-03 10:41] phyljh opened #275 "coredns is stuck in ContainerCreating status"
coredns is stuck as below.
Please help me~~!!!
XXXX:~$ kubectl get pods -n kube-system
NAME                                    READY   STATUS              RESTARTS   AGE
coredns-6d4b75cb6d-2425h                0/1     ContainerCreating   0          16m
coredns-6d4b75cb6d-j2wjf                0/1     ContainerCreating   0          16m
etcd-alienware-m15                      1/1     Running

[2022-06-03 10:47] phyljh commented on #275
I submitted by mistake

[2022-06-03 10:48] #275 closed

[2022-06-03 18:33] #269 closed

[2022-06-03 18:38] #256 closed

[2022-06-16 08:27] younaman opened #277 "CoreDNS's default configuration cause information Leaks and DoS in kubernetes"

[2022-06-20 03:11] younaman commented on #277
@chrisohaver Thanks for your answer! I have noticed that the CVE-2020-8551 reported an issue about kubelet's metrics on kubelet's port 10255&10250, making DoS attacks to worker node's kubelet.

The issue I report can **also make a similar DoS attack to coreDNS in the "default k8s coreDNS installation"**(the kubeadm install), which consumes 80% CPU resources of the master node only by one malicious

[2022-06-20 03:17] younaman commented on #277
![curl-9153-metrics-C2](https://user-images.githubusercontent.com/52592519/174519059-c62ebf3f-37d9-4553-a15a-cf301ce37496.PNG)
@chrisohaver This is my local "top" on the master node, which has 4 core CPUs and 8GB memory, as you can see, requests from only one malicious container on another worker node can make coreDNS and related processes consume about 80% CPU.

[2022-06-20 03:23] chrisohaver commented on #277
Perhaps we should consider retiring the k8s deploy script in this repo. Since kubedns is virtually deprecated now, it’s usefulness is somewhat diminished.

[2022-06-20 06:54] younaman commented on #277
@chrisohaver Sorry about replying to you a little bit late :)
1. We test this attack not only on Kubernetes 1.21.1 but also on Kubernetes 1.22.3 and 1.23.1. and all of them have the same problem. So it is necessary to retire the k8s deploy script in this repo.
2. Most local users and cloud vendors use the Kubernetes 1.21 or 1.22 or 1.23 related version. For example, on the Alibaba cloud, they prov

[2022-06-20 07:17] younaman commented on #277
@chrisohaver A little bit of modification:
1. We test the attack on Kubernetes 1.21.1, 1.23.5, and 1.24.2(the latest Kubernetes version), all installed by kubeadm, and all of them open the metrics service by default, so, they all have the same problem. :)

[2022-06-21 07:06] kaysond commented on #267
@chrisohaver @utkonos would you take a PR for this?

Could either change this to `make -ef`:
https://github.com/coredns/deployment/blob/7ae45a97b725c605126f66a58d172347fe1a0cea/debian/rules#L1

or maybe add an env var check to the shell command here like `(test -n "$VERSION" && echo "$VERSION") || ...`
https://github.com/coredns/deployment/blob/7ae45a97b725c605126f66a58d172347fe1a0cea/debian/rules

[2022-06-21 18:37] #267 closed

[2022-06-21 18:47] chrisohaver commented on #277
The default configured by kubeadm is defined in https://github.com/kubernetes/kubernetes, not this repository.

[2022-06-21 19:00] chrisohaver commented on #277
From the readme:

1. Given that the purpose of the script is no longer relevant (kube-dns migration), and kube-dns isn't "standard" anymore, I think we should retire this script to reduce maintenance load. It will require some other updating of CI, so this will go on the to do list.
2. In the interim, I don't think we need to change anything. kube-dns also exposed prometheus in the same way, so th

[2022-06-26 04:00] minhthinhls commented on #87
-----
So here is my solution:
First, coreDNS will run on your [Master / Control-Plane] Nodes
Now let's run `ifconfig` to check for these 2 interfaces `cni0` and `flannel.1`
Suppose `cni0=10.244.1.1` & `flannel.1=10.244.0.0` then your DNS will not be created
It should be `cni0=10.244.0.1` & `flannel.1=10.244.0.0`. Which mean cni0 must follow `flannel.1/24` patterns

Run the following 2 command to D

[2022-08-03 14:03] yoav-klein opened #279 "How to install CoreDNS in a fresh cluster, running no kube-dns?"
Hi,

Your documentation only explains how to install CoreDNS on a cluster already running kube-dns.

What if I have a fresh new cluster, not running kube-dns? What is the best way to install CoreDNS in that case?

[2022-08-03 14:35] chrisohaver commented on #279
You could use the helm chart https://github.com/coredns/helm.

[2022-09-14 12:23] Brook-ning opened #280 "不小心删除了coredns 的deployment，怎么恢复"

[2022-09-14 19:10] #279 closed

[2022-09-15 14:24] chrisohaver commented on #280
https://translate.google.com/?sl=auto&tl=en&text=不小心删除了coredns%20的deployment，怎么恢复&op=translate

"Accidentally deleted the deployment of coredns, how to restore"

I am assuming this is a deployment in Kubernetes. The exact contents/version of the Deployment is generally determined by the utility used to create the Kubernetes cluster itself.  The maintainers of that utility should be able to point y

[2022-09-15 14:26] chrisohaver commented on #263
I don't think there are any remaining maintainers familiar with the systemd deployment to answer this question.

[2022-09-17 08:35] Brook-ning commented on #280
@chrisohaver Problem solved, thanks a lot

[2022-11-01 13:30] chrisohaver opened #282 "Deprecate Kubernetes deployment scripts"
The purpose of the Kubernetes deployment scripts here was to ease transition from clusters with kube-dns installed, before CoreDNS was widely adopted.

Since kube-dns is now virtually deprecated, and CoreDNS has been the standard DNS service discovery service in Kubernetes for several years, I think we should deprecate the deployment scripts here.  The "standard" deployment of CoreDNS is not defin